/** Work Sans and Open Sans Font Declaration **/
/** Work Sans **/
@font-face{
	font-family:'WorkSans-Bold';
	src:url('../fonts/WorkSans-Bold.eot');
	src:url('../fonts/WorkSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WorkSans-Bold.woff') format('woff'),
		url('../fonts/WorkSans-Bold.woff2') format('woff2'),
		url('../fonts/WorkSans-Bold.otf') format('opentype'),
		url('../fonts/WorkSans-Bold.svg#worksans') format('svg');
}

@font-face{
	font-family:'WorkSans-Bold-Italic';
	src:url('../fonts/WorkSans-BoldItalic.eot');
	src:url('../fonts/WorkSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WorkSans-BoldItalic.woff') format('woff'),
		url('../fonts/WorkSans-BoldItalic.woff2') format('woff2'),
		url('../fonts/WorkSans-BoldItalic.otf') format('opentype'),
		url('../fonts/WorkSans-BoldItalic.svg#worksans') format('svg');
}

@font-face{
	font-family:'WorkSans-SemiBold';
	src:url('../fonts/WorkSans-SemiBold.eot');
	src:url('../fonts/WorkSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WorkSans-SemiBold.woff') format('woff'),
		url('../fonts/WorkSans-SemiBold.woff2') format('woff2'),
		url('../fonts/WorkSans-SemiBold.otf') format('opentype'),
		url('../fonts/WorkSans-SemiBold.svg#worksans') format('svg');
}

@font-face{
	font-family:'WorkSans-Regular';
	src:url('../fonts/WorkSans-Regular.eot');
	src:url('../fonts/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WorkSans-Regular.woff') format('woff'),
		url('../fonts/WorkSans-Regular.woff2') format('woff2'),
		url('../fonts/WorkSans-Regular.otf') format('opentype'),
		url('../fonts/WorkSans-Regular.svg#worksans') format('svg');
}

@font-face{
	font-family:'WorkSans-Light';
	src:url('../fonts/WorkSans-Light.eot');
	src:url('../fonts/WorkSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WorkSans-Light.woff') format('woff'),
		url('../fonts/WorkSans-Light.woff2') format('woff2'),
		url('../fonts/WorkSans-Light.otf') format('opentype'),
		url('../fonts/WorkSans-Light.svg#worksans') format('svg');
}

@font-face{
	font-family:'WorkSans-SemiBold-Italic';
	src:url('../fonts/WorkSans-SemiBoldItalic.eot');
	src:url('../fonts/WorkSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WorkSans-SemiBoldItalic.woff') format('woff'),
		url('../fonts/WorkSans-SemiBoldItalic.woff2') format('woff2'),
		url('../fonts/WorkSans-SemiBoldItalic.otf') format('opentype'),
		url('../fonts/WorkSans-SemiBoldItalic.svg#worksans') format('svg');
}

@font-face{
	font-family:'WorkSans-Light-Italic';
	src:url('../fonts/WorkSans-LightItalic.eot');
	src:url('../fonts/WorkSans-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WorkSans-LightItalic.woff') format('woff'),
		url('../fonts/WorkSans-LightItalic.woff2') format('woff2'),
		url('../fonts/WorkSans-LightItalic.otf') format('opentype'),
		url('../fonts/WorkSans-LightItalic.svg#worksans') format('svg');
}

/** Open Sans **/
@font-face{
	font-family:'OpenSans-Bold';
	src:url('../fonts/OpenSans-Bold.eot');
	src:url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Bold.woff') format('woff'),
		url('../fonts/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/OpenSans-Bold.ttf') format("truetype"),
		url('../fonts/OpenSans-Bold.svg#opensans') format('svg');
}

@font-face{
	font-family:'OpenSans-Bold-Italic';
	src:url('../fonts/OpenSans-BoldItalic.eot');
	src:url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-BoldItalic.woff') format('woff'),
		url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
		url('../fonts/OpenSans-BoldItalic.ttf') format("truetype"),
		url('../fonts/OpenSans-BoldItalic.svg#opensans') format('svg');
}

@font-face{
	font-family:'OpenSans-SemiBold';
	src:url('../fonts/OpenSans-Semibold.eot');
	src:url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Semibold.woff') format('woff'),
		url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
		url('../fonts/OpenSans-Semibold.ttf') format("truetype"),
		url('../fonts/OpenSans-Semibold.svg#opensans') format('svg');
}

@font-face{
	font-family:'OpenSans-Regular';
	src:url('../fonts/OpenSans-Regular.eot');
	src:url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Regular.woff') format('woff'),
		url('../fonts/OpenSans-Regular.woff2') format('woff2'),
		url('../fonts/OpenSans-Regular.ttf') format("truetype"),
		url('../fonts/OpenSans-Regular.svg#opensans') format('svg');
}

@font-face{
	font-family:'OpenSans-Light';
	src:url('../fonts/OpenSans-Light.eot');
	src:url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Light.woff') format('woff'),
		url('../fonts/OpenSans-Light.woff2') format('woff2'),
		url('../fonts/OpenSans-Light.ttf') format("truetype"),
		url('../fonts/OpenSans-Light.svg#opensans') format('svg');
}

@font-face{
	font-family:'OpenSans-SemiBold-Italic';
	src:url('../fonts/OpenSans-SemiboldItalic.eot');
	src:url('../fonts/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-SemiboldItalic.woff') format('woff'),
		url('../fonts/OpenSans-SemiboldItalic.woff2') format('woff2'),
		url('../fonts/OpenSans-SemiboldItalic.ttf') format("truetype"),
		url('../fonts/OpenSans-SemiboldItalic.svg#opensans') format('svg');
}

@font-face{
	font-family:'OpenSans-Light-Italic';
	src:url('../fonts/OpenSans-LightItalic.eot');
	src:url('../fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-LightItalic.woff') format('woff'),
		url('../fonts/OpenSans-LightItalic.woff2') format('woff2'),
		url('../fonts/OpenSans-LightItalic.ttf') format("truetype"),
		url('../fonts/OpenSans-LightItalic.svg#opensans') format('svg');
}
/** End of Work Sans and Open Sans Font Declaration **/

.meta_main_wrp {
    height: auto;
    margin: 10px 0;
    width: 100%;
}
.meta_main_wrp > label {
    font-size: 15px;
    font-weight: bold;
}
.meta_main_wrp > label.pub_label {
    font-size:14px;
    font-weight:normal;
}
.meta_fld_wrp {
    margin: 10px 0;
    width: 100%;
}
.widefat th.custm{
    padding: 10px;
}
.oer_widget_wrapper {
    background-color: #fff;
    float: left;
    width: 100%;
}
.sub_wrapper {
    border-bottom: 1px solid #ccc;
    float: left;
    margin: 0;
    padding: 15px 0;
    width: 100%;
}
.sub_wrapper_txt {
    float: left;
    font-size: 14px;
    width: 35%;
}
.sub_wrapper_fld {
    float: left;
    width: 5%;
    padding-left: 40px;
}
.sub_wrapper_lbl {
    float:left;
    width: 35%;
    font-size: 14px;
}
.sub_wrapper_type {
    float:left;
    width: 20%;
    font-size: 14px;
}
#cstm_wdgt_btn {
    background: none repeat scroll 0 0 #294179;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    text-transform: uppercase;
	float: left;
	margin: 10px 0;
}
.oer_sclmda_wrpr {
    float: left;
    margin: 10px 0;
    width: 100%;
}
.oer_sclmda_sub_wrapper {
    float: left;
    margin: 10px 0;
    width: 100%;
}
.oer_sclmda_txt {
    float: left;
    padding: 8px 0 0 25px;
    width: 20%;
}
.oer_sclmda_fld {
    float: left;
    width: 70%;
}
.oer_sclmda_fld > input[type="text"],
.oer_sclmda_fld > input[type="password"]{
    float: left;
    padding: 5px 10px;
    width: 60%;
}

.oer_sclmda_fld input[type="submit"] {
    background: none repeat scroll 0 0 #294179;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    text-transform: uppercase;
    cursor:pointer;
}
.meta_main_wrapper { margin: 5px 20px; }
.medium-debug-btn {
    height: 38px !important;
    font-weight: bold;
    background-color: #294179 !important;
    color: #ffffff !important;
    text-transform: uppercase;
    margin:1px 0 !important;
}
#oer_verbose_block pre {
    padding: 15px;
    border: 1px solid #cdcdcd;
    overflow:auto;
}
.green { color:#00FF00; }
.red { color:#FF0000; }
.oer_sclmda_fld.checkinput input[type='checkbox']{ 
    float: left;
    vertical-align: middle;
    margin: 10px 5px 10px 0;
}
.oer_sclmda_fld.checkinput input[type='text'] { width:57.5%; }
.oet-settings-error { margin-left:25%; color:#ff0000; }
/*PERMALINK VALIDATION START*/
.oese-prohibitedpermalinktext {
  background:rgba(220,50,50,.1) !important;
  width:100%;
  min-width:100%;
  box-sizing:border-box;
}
input#secondary-save-post {float: left;}
#minor-publishing-actions #save-action #save-post{
  width: 0px !important;
  padding: 0px !important;
  border: 0px !important;
}
/*PERMALINK VALIDATION END*/
/** Sidebar Styles **/
.wp-picker-container { display:block; }
.wp-picker-container input[type=text].wp-color-picker {
    width: 7rem;
    line-height: 2em;
    min-height: 24px;
    height: 30px !important;
}
.wp-picker-container .wp-picker-clear { height:30px !important; }
.oet-content-sections .row-inline { display:block; overflow:hidden; }
.oet-content-sections .row-inline .oet_medium_background_image_url {
    width: 86%;
    float: left;
}
.oet-content-sections .row-inline .oet_select_medium_background_image {
    width: 13%;
    float: right;
    height: 40px;
    color: #0071a1;
    border-color: #0071a1;
    background: #f3f5f6;
    border-radius: 5px;
}
.pblctn_right_sid_mtr .sidebar-youtube-video {
    border-top: 1px solid #ccc;
    width: 100%;
    overflow: hidden;
    margin-top: 10px !important;
    padding-top: 10px;
}
#oet-dynamic-sidebar-preview .sidebar-youtube-video {
    border-top: 1px solid #ccc;
    width: 100%;
    overflow: hidden;
    margin-top: 10px !important;
    padding-top: 10px;
}
#oet-dynamic-sidebar-preview .sidebar-youtube-video a>img {
    opacity: 0.9;
    width: 100%;
}
#oet-dynamic-sidebar-preview .oet-youtube-play-overlay {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
#oet-dynamic-sidebar-preview .oet-youtube-play-overlay img {
    width: 75px !important;
    top: 35%;
    opacity: .86;
}
#oet-dynamic-sidebar-preview .preview-wrapper ul { list-style:disc; padding-left:25px; }
#oet-dynamic-sidebar-preview .preview-wrapper .sdbr_img_cntnt, #oet-dynamic-sidebar-preview .preview-wrapper .sidebar-youtube-video {
    border-top: 1px solid #ccc;
    width: 100%;
    overflow: hidden;
    margin-top: 10px !important;
    padding-top: 10px;
}
/** End of Sidebar Styles **/
/** Shortcode Preview Styles **/
.oet-shrtcdv2_preview .medium {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: #eee #ddd #bbb;
    border-width: 1px;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
    min-height: 425px;
    margin: 5% 1%;
    color:#ffffff;
    background-size:cover !important;
    position:relative;
    box-sizing:content-box;
    height:auto;
    max-width:335px;
    width:100%;
}
.oet-shrtcdv2_preview .medium h1 { font-size:30px; margin-top:0; -webkit-font-smoothing:antialiased; }
.oet-shrtcdv2_preview .medium h1 a { color:#ffffff !important; text-shadow: 1px 4px 10px rgba(0, 0, 0, 1); }
.oet-shrtcdv2_preview .medium a:focus { outline-width:2px; }
.oet-shrtcdv2_preview .medium p { text-shadow: 1px 4px 10px rgba(0, 0, 0, 1); }
.oet-shrtcdv2_preview .medium-background {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color: rgba(22, 22, 22, 0.65);
    padding: 30px;
    border-radius:5px;
}
.oet-shrtcdv2_preview .medium-wrapper { position:relative; height:100%; width:100%; }
.oet-shrtcdv2_preview .medium a { color:#ffffff !important; }
.oet-shrtcdv2_preview .medium p.mfooter { height:32px; bottom:30px; }
.oet-shrtcdv2_preview .medium-wrapper p.mfooter {
    position: absolute;
    bottom: -10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width:265px;
}
.oet-shrtcdv2_preview .single-medium .medium { margin:0 auto; }
.oet-shrtcdv2_preview .medium-wrapper p.mfooter a.imglink{
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #ffffff;
    margin-bottom: -11px;
}
/** End of Shortcode Preview Styles **/


/* -------- Frontend Styles ----------*/

.block-editor-writing-flow .editor-post-title .editor-post-title__input{
  font-family: 'WorkSans-SemiBold' !important;
  font-size: 30px !important;
  color: #294179 !important;
}

.block-editor-writing-flow ul,
.block-editor-writing-flow ol {padding-left: 20px !important; font-size:15px;}
.block-editor-writing-flow .block-editor-block-list__layout p,
.block-editor-writing-flow .block-editor-block-list__layout li{
  color: #000000;
  font-family: 'OpenSans-Regular';
}
.block-editor-writing-flow .block-editor-block-list__layout p { font-size: 15px;}

.block-editor-writing-flow .editor-post-title{
  margin-bottom:0px !important;
}

.block-editor-writing-flow table tr {border: 1px solid #ccc;}
.block-editor-writing-flow table tr:first-child {background: #294179;}
.block-editor-writing-flow table tr:first-child td,
.block-editor-writing-flow table tr:first-child th,
.block-editor-writing-flow table tr:first-child td a {
  color: #fff !important;
  font-family: 'WorkSans-Bold', sans-serif !important;
}
.block-editor-writing-flow table tr {
    border: 1px solid #ccc;
}
.block-editor-writing-flow table tr td, 
.block-editor-writing-flow table tr th {
    color: #000000 !important;
    padding: 5px;
    font-family: 'OpenSans-Regular' !important;
    font-size: 14px;
    line-height: 2;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    vertical-align: top;
}

.block-editor-writing-flow h1 {font-size: 30px !important;}
.block-editor-writing-flow h2 {font-size: 30px !important;}
.block-editor-writing-flow h3 {font-size: 24px !important;}
.block-editor-writing-flow h4 {font-size: 18px !important;}
.block-editor-writing-flow h5 {font-size: 14px !important;}
.block-editor-writing-flow h6 {font-size: 12px !important;}

.block-editor-writing-flow h1,
.block-editor-writing-flow h3 {color: #294179 !important;}
.block-editor-writing-flow h2,
.block-editor-writing-flow h4,
.block-editor-writing-flow h5,
.block-editor-writing-flow h6 {color: #000000 !important;}

.block-editor-writing-flow h1,
.block-editor-writing-flow h2,
.block-editor-writing-flow h3 {font-family: 'WorkSans-SemiBold' !important; margin-top: 20px; margin-bottom: 10px;}
.block-editor-writing-flow h4 {font-family: 'WorkSans-Light' !important; margin-top: 10px; margin-bottom: 10px;}
.block-editor-writing-flow h5,
.block-editor-writing-flow h6 {font-family: 'WorkSans-Regular' !important; margin-top: 10px; margin-bottom: 10px;}

.block-editor-writing-flow h1,
.block-editor-writing-flow h2,
.block-editor-writing-flow h3,
.block-editor-writing-flow h4,
.block-editor-writing-flow h5,
.block-editor-writing-flow h6 {font-weight: 500; line-height: 1.1;}

.block-editor-writing-flow .pull-out-box h1,
.block-editor-writing-flow .pull-out-box h2,
.block-editor-writing-flow .pull-out-box h3,
.block-editor-writing-flow .pull-out-box h4,
.block-editor-writing-flow .pull-out-box h5,
.block-editor-writing-flow .pull-out-box h6 {line-height: 1.1 !important;}

.block-editor-writing-flow .pull-out-box {
	color: #000000 !important;
	font-family: 'OpenSans-Regular' !important;
	font-size:15px !important;
	line-height: 1.714285714 !important;
}

.oet-shortcode .intro {
    position: relative;
    margin-bottom: 60px;
    font-family: "WorkSans-SemiBold",sans-serif !important;
    background: #294179;
    float: left;
    width: 100%;
}

/* *************** */
/*    Editor Css   */
/* *************** */

/* Accordion */
.block-editor-writing-flow .oet-shortcode #accordion .panel-heading h5.panel-title a {
    font-family: 'WorkSans-Bold',sans-serif !important;
    font-size: 16px !important;
}
.block-editor-writing-flow .oet-shortcode #accordion .panel-heading h5.panel-title a:hover {
		text-decoration: underline;
}

/* Disruptive Content */
.block-editor-writing-flow .disruptive_content p {
    color: #fff !important;
}

/* Featured Content Box */
.block-editor-writing-flow .featured_content_box .cntnbx_cntnr {
    font-size: 15px;
    line-height: 1.7em;
		color: #000000 !important;
}

.block-editor-writing-flow .featured_content_box .pblctn_box .socl_icns i {
    font-style: normal !important;
		line-height:1em !important;
}

.block-editor-writing-flow .oet-shortcode .featured_content_box .pblctn_box .socl_icns {
      line-height: 1em !important;
}

/* Editor Post/Page Title */
.editor-post-title .editor-post-title__input {
	padding:0px !Important;
	text-overflow: ellipsis !important;
}

/* oet_featured_area */
.block-editor-writing-flow .oet-shortcode .lft_sid_mtr h4 {
    height: 52px;
    display: table-cell;
    vertical-align: bottom;
    width: 1000px !important;
}
.block-editor-writing-flow  .oet-shortcode .lft_sid_mtr h4, .rght_sid_mtr h4, .oet_2column_layout h4 {
    border-bottom: 1px solid #ccc !important;
    margin-bottom: 15px !important;
    padding-bottom: 5px !important;
    font-size: 19px !important;
    color: #294179 !important;
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 400 !important;
    line-height: 23px !important;
}
.block-editor-writing-flow .oet-shortcode .oese_featured_item .hdng_mtr, 
.block-editor-writing-flow .oet-shortcode .oese_featured_item .hdng_mtr a {
    font-size: 19px !important;
    color: #E57200 !important;
    font-family: 'WorkSans-Bold', sans-serif !important;
    line-height: 26px !important;
}
.block-editor-writing-flow .oet-shortcode .oese_featured_item .date b, 
.block-editor-writing-flow .oet-shortcode .oese_featured_item .date strong{
		font-family: 'Open Sans', sans-serif !important;
    font-weight: bold !important;
		font-size: 13px !important;
}
.block-editor-writing-flow .oet-shortcode .oese_featured_item .date {line-height: 18px;}
.block-editor-writing-flow .hdng_mtr, .hdng_mtr a {
    font-size: 19px !important;
    color: #E57200 !important;
    font-family: 'Work Sans', sans-serif !important;
    font-weight: bold !important;
    line-height: 26px;
}

.block-editor-writing-flow .oet-shortcode.flx .pull-right {
    margin-left: auto;
}
.block-editor-writing-flow .oet-shortcode.flx .pull-left {
    margin-right: auto;
}
.block-editor-writing-flow .oet-shortcode.flx .pull-center {
    margin-left: auto !important;
    margin-right: auto !important;
		float: none !important;
}

/** Pull Out box styles **/
.block-editor-writing-flow .pull-out-box {
    position: relative;
    margin: 30px 0px;
}
.block-editor-writing-flow .pull-out-box.big-text {
    font-size: 1.4em;
}
.block-editor-writing-flow .pull-out-box.book {
    border: 2px solid #e57200;
    padding: 30px;
}
.block-editor-writing-flow .pull-out-box.book:before {
    content: '\f02d';
    font-family: FontAwesome;
    font-size: 20px;
    padding: 5px 10px;
    color: white;
    background-color: #e57200;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    border: 10px solid white;
    top: -30px;
}
.block-editor-writing-flow .pull-out-box.light-bulb {
    border: 2px solid darkgray;
    padding: 30px;
}
.block-editor-writing-flow .pull-out-box.light-bulb:before {
    content: '\f0eb';
    font-family: FontAwesome;
    font-size: 20px;
    padding: 6px 15px;
    color: white;
    background-color: darkgray;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    border: 10px solid white;
    top: -30px;
}
.block-editor-writing-flow .pull-out-box.exclamation {
    border: 2px solid green;
    padding: 30px;
}
.block-editor-writing-flow .pull-out-box.exclamation:before {
    content: '\f12a';
    font-family: FontAwesome;
    font-size: 20px;
    padding: 6px 17px;
    color: white;
    background-color: green;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    border: 10px solid white;
    top: -30px;
}
/*
.block-editor-writing-flow .pull-out-box.checkmark:before {
    border: 2px solid #294179;
    padding: 30px;
}

.block-editor-writing-flow .pull-out-box.checkmark {
    content: '\f00c';
    font-family: FontAwesome;
    font-size: 20px;
    padding: 6px 11px;
    color: white;
    background-color: #294179;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    border: 10px solid white;
    top: -30px;
}
*/
.block-editor-writing-flow .pull-out-box.sun {
    border: 2px solid red;
    padding: 30px;
}
.block-editor-writing-flow .pull-out-box.sun:before {
    content: '\f185';
    font-family: FontAwesome;
    font-size: 20px;
    padding: 6px 11px;
    color: white;
    background-color: red;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    border: 10px solid white;
    top: -30px;
}

.block-editor-writing-flow .pull-out-box:before {
		line-height: 1.4em;
}

.block-editor-writing-flow .story-embed-content p {
    color: #fff !important;
}

/* Pull Quote */
.block-editor-writing-flow .oet_pull_quote_icon::before {
    font-size: 24px;
    color: #e57200;
    font-style: normal !important;
}
.block-editor-writing-flow .oet_pull_quote_icon img {
    max-width: none !important;
    margin-bottom: 10px;
    box-shadow: unset;
}
/* -------- End of Frontend Styles ----------*/
.edit-post-meta-boxes-area #poststuff .stuffbox>h3, .edit-post-meta-boxes-area #poststuff h2.hndle { width:95%; }
.edit-post-meta-boxes-area .postbox.acf-postbox.closed { border-bottom: 1px solid #c3c4c7; }
.meta-box-sortables .postbox button.handlediv { float:right; }
.block-editor-block-types-list__list-item .block-editor-block-types-list__item-title { padding-left:0; padding-right:0; }