.meta_main_wrp {
    height: auto;
    margin: 10px 0;
    width: 100%;
}
.meta_main_wrp > label {
    font-size: 15px;
    font-weight: bold;
}
.meta_main_wrp > label.pub_label {
    font-size:14px;
    font-weight:normal;
}
.meta_fld_wrp {
    margin: 10px 0;
    width: 100%;
}
.widefat th.custm{
    padding: 10px;
}
.oer_widget_wrapper {
    background-color: #fff;
    float: left;
    width: 100%;
}
.sub_wrapper {
    border-bottom: 1px solid #ccc;
    float: left;
    margin: 0;
    padding: 15px 0;
    width: 100%;
}
.sub_wrapper_txt {
    float: left;
    font-size: 14px;
    width: 35%;
}
.sub_wrapper_fld {
    float: left;
    width: 5%;
    padding-left: 40px;
}
.sub_wrapper_lbl {
    float:left;
    width: 35%;
    font-size: 14px;
}
.sub_wrapper_type {
    float:left;
    width: 20%;
    font-size: 14px;
}
#cstm_wdgt_btn {
    background: none repeat scroll 0 0 #294179;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    text-transform: uppercase;
	float: left;
	margin: 10px 0;
}
.oer_sclmda_wrpr {
    float: left;
    margin: 10px 0;
    width: 100%;
}
.oer_sclmda_sub_wrapper {
    float: left;
    margin: 10px 0;
    width: 100%;
}
.oer_sclmda_txt {
    float: left;
    padding: 8px 0 0 25px;
    width: 10%;
}
.oer_sclmda_fld {
    float: left;
    width: 70%;
}
.oer_sclmda_fld > input[type="text"],
.oer_sclmda_fld > input[type="password"]{
    float: left;
    padding: 5px 10px;
    width: 50%;
}

.oer_sclmda_fld input[type="submit"] {
    background: none repeat scroll 0 0 #294179;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    text-transform: uppercase;
}
.meta_main_wrapper { margin: 5px 20px; }
.medium-debug-btn {
    height: 32px !important;
    font-weight: bold;
    background-color: #294179 !important;
    color: #ffffff !important;
    text-transform: uppercase;
}
#oer_verbose_block pre {
    padding: 15px;
    border: 1px solid #cdcdcd;
    overflow:auto;
}
.green { color:#00FF00; }
.red { color:#FF0000; }
.oese-prohibitedpermalinktext {
  background:rgba(220,50,50,.1) !important;
  width:100%;
  min-width:100%;
  box-sizing:border-box;
}
input#secondary-save-post {float: left;}
#minor-publishing-actions #save-action #save-post{
  width: 0px !important;
  padding: 0px !important;
  border: 0px !important;
}
  