.meta_main_wrp {
    height: auto;
    margin: 10px 0;
    width: 100%;
}
.meta_main_wrp > label {
    font-size: 15px;
    font-weight: bold;
}
.meta_main_wrp > label.pub_label {
    font-size:14px;
    font-weight:normal;
}
.meta_fld_wrp {
    margin: 10px 0;
    width: 100%;
}
.widefat th.custm{
    padding: 10px;
}
.oer_widget_wrapper {
    background-color: #fff;
    float: left;
    width: 100%;
}
.sub_wrapper {
    border-bottom: 1px solid #ccc;
    float: left;
    margin: 0;
    padding: 15px 0;
    width: 100%;
}
.sub_wrapper_txt {
    float: left;
    font-size: 14px;
    width: 35%;
}
.sub_wrapper_fld {
    float: left;
    width: 5%;
    padding-left: 40px;
}
.sub_wrapper_lbl {
    float:left;
    width: 35%;
    font-size: 14px;
}
.sub_wrapper_type {
    float:left;
    width: 20%;
    font-size: 14px;
}
#cstm_wdgt_btn {
    background: none repeat scroll 0 0 #294179;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    text-transform: uppercase;
	float: left;
	margin: 10px 0;
}
.oer_sclmda_wrpr {
    float: left;
    margin: 10px 0;
    width: 100%;
}
.oer_sclmda_sub_wrapper {
    float: left;
    margin: 10px 0;
    width: 100%;
}
.oer_sclmda_txt {
    float: left;
    padding: 8px 0 0 25px;
    width: 20%;
}
.oer_sclmda_fld {
    float: left;
    width: 70%;
}
.oer_sclmda_fld > input[type="text"],
.oer_sclmda_fld > input[type="password"]{
    float: left;
    padding: 5px 10px;
    width: 60%;
}

.oer_sclmda_fld input[type="submit"] {
    background: none repeat scroll 0 0 #294179;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    text-transform: uppercase;
    cursor:pointer;
}
.meta_main_wrapper { margin: 5px 20px; }
.medium-debug-btn {
    height: 38px !important;
    font-weight: bold;
    background-color: #294179 !important;
    color: #ffffff !important;
    text-transform: uppercase;
    margin:1px 0 !important;
}
#oer_verbose_block pre {
    padding: 15px;
    border: 1px solid #cdcdcd;
    overflow:auto;
}
.green { color:#00FF00; }
.red { color:#FF0000; }
.oer_sclmda_fld.checkinput input[type='checkbox']{ 
    float: left;
    vertical-align: middle;
    margin: 10px 5px 10px 0;
}
.oer_sclmda_fld.checkinput input[type='text'] { width:57.5%; }
.oet-settings-error { margin-left:25%; color:#ff0000; }
/*PERMALINK VALIDATION START*/
.oese-prohibitedpermalinktext {
  background:rgba(220,50,50,.1) !important;
  width:100%;
  min-width:100%;
  box-sizing:border-box;
}
input#secondary-save-post {float: left;}
#minor-publishing-actions #save-action #save-post{
  width: 0px !important;
  padding: 0px !important;
  border: 0px !important;
}
/*PERMALINK VALIDATION END*/
/** Sidebar Styles **/
.wp-picker-container { display:block; }
.wp-picker-container input[type=text].wp-color-picker {
    width: 7rem;
    line-height: 2em;
    min-height: 24px;
    height: 30px !important;
}
.wp-picker-container .wp-picker-clear { height:30px !important; }
.oet-content-sections .row-inline { display:block; overflow:hidden; }
.oet-content-sections .row-inline .oet_medium_background_image_url {
    width: 86%;
    float: left;
}
.oet-content-sections .row-inline .oet_select_medium_background_image {
    width: 13%;
    float: right;
    height: 40px;
    color: #0071a1;
    border-color: #0071a1;
    background: #f3f5f6;
    border-radius: 5px;
}
.pblctn_right_sid_mtr .sidebar-youtube-video {
    border-top: 1px solid #ccc;
    width: 100%;
    overflow: hidden;
    margin-top: 10px !important;
    padding-top: 10px;
}
#oet-dynamic-sidebar-preview .sidebar-youtube-video {
    border-top: 1px solid #ccc;
    width: 100%;
    overflow: hidden;
    margin-top: 10px !important;
    padding-top: 10px;
}
#oet-dynamic-sidebar-preview .sidebar-youtube-video a>img {
    opacity: 0.9;
    width: 100%;
}
#oet-dynamic-sidebar-preview .oet-youtube-play-overlay {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
#oet-dynamic-sidebar-preview .oet-youtube-play-overlay img {
    width: 75px !important;
    top: 35%;
    opacity: .86;
}
#oet-dynamic-sidebar-preview .preview-wrapper ul { list-style:disc; padding-left:25px; }
#oet-dynamic-sidebar-preview .preview-wrapper .sdbr_img_cntnt, #oet-dynamic-sidebar-preview .preview-wrapper .sidebar-youtube-video {
    border-top: 1px solid #ccc;
    width: 100%;
    overflow: hidden;
    margin-top: 10px !important;
    padding-top: 10px;
}
/** End of Sidebar Styles **/
/** Shortcode Preview Styles **/
.oet-shrtcdv2_preview .medium {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: #eee #ddd #bbb;
    border-width: 1px;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
    min-height: 425px;
    margin: 5% 1%;
    color:#ffffff;
    background-size:cover !important;
    position:relative;
    box-sizing:content-box;
    height:auto;
    max-width:335px;
    width:100%;
}
.oet-shrtcdv2_preview .medium h1 { font-size:30px; margin-top:0; -webkit-font-smoothing:antialiased; }
.oet-shrtcdv2_preview .medium h1 a { color:#ffffff !important; text-shadow: 1px 4px 10px rgba(0, 0, 0, 1); }
.oet-shrtcdv2_preview .medium a:focus { outline-width:2px; }
.oet-shrtcdv2_preview .medium p { text-shadow: 1px 4px 10px rgba(0, 0, 0, 1); }
.oet-shrtcdv2_preview .medium-background {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color: rgba(22, 22, 22, 0.65);
    padding: 30px;
    border-radius:5px;
}
.oet-shrtcdv2_preview .medium-wrapper { position:relative; height:100%; width:100%; }
.oet-shrtcdv2_preview .medium a { color:#ffffff !important; }
.oet-shrtcdv2_preview .medium p.mfooter { height:32px; bottom:30px; }
.oet-shrtcdv2_preview .medium-wrapper p.mfooter {
    position: absolute;
    bottom: -10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width:265px;
}
.oet-shrtcdv2_preview .single-medium .medium { margin:0 auto; }
.oet-shrtcdv2_preview .medium-wrapper p.mfooter a.imglink{
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #ffffff;
    margin-bottom: -11px;
}
/** End of Shortcode Preview Styles **/
