.oet-sidebar-section-wrapper.panel-default > .panel-heading,
.oet-sidebar-section-type-wrapper.panel-default > .panel-heading { overflow:hidden; background-color: #f5f5f5 !important; padding:10px 15px !important; }
.oet-sidebar-section-wrapper .panel-title,
.oet-sidebar-section-type-wrapper .panel-title{ float:left; line-height:normal; }
.oet-sidebar-section-wrapper .oet-sortable-handle,
.oet-sidebar-section-type-wrapper .oet-sortable-handle{ float:left; }
.oet-sidebar-section-wrapper .oet-remove-sidebar-section ,
.oet-sidebar-section-type-wrapper .oet-remove-sidebar-section-content{ float:right; padding:0 5px; }
.oet-sidebar-section-wrapper .oet-content-sections.subsection-visible { border: 1px solid #dddddd; padding:10px 15px; }
.oet-sidebar-section-wrapper .sidebar-section-reorder-up,
.oet-sidebar-section-wrapper .sidebar-section-reorder-down,
.oet-sidebar-section-wrapper .sidebar-section-image-reorder-up,
.oet-sidebar-section-wrapper .sidebar-section-image-reorder-down,
.oet-sidebar-section-wrapper .sidebar-section-link-reorder-up,
.oet-sidebar-section-wrapper .sidebar-section-link-reorder-down,
.oet-sidebar-section-wrapper .sidebar-section-youtube-reorder-up,
.oet-sidebar-section-wrapper .sidebar-section-youtube-reorder-down,
.oet-sidebar-section-wrapper .sidebar-section-story-reorder-up,
.oet-sidebar-section-wrapper .sidebar-section-story-reorder-down,
.oet-sidebar-section-wrapper .sidebar-section-medium-reorder-up,
.oet-sidebar-section-wrapper .sidebar-section-medium-reorder-down{ cursor:pointer; }