.oet-sidebar-section-wrapper .panel-heading { overflow:hidden; }
.oet-sidebar-section-wrapper .panel-title { float:left; }
.oet-sidebar-section-wrapper .oet-sortable-handle { float:left; }
.oet-sidebar-section-wrapper .oet-remove-sidebar-section { float:right; }