.site-content
{
	min-height: 400px;
	margin-top: 10px;
}
aside.widget {
    float: left;
    width: 100%;
}
aside.widget {
    float: left;
    width: 100%;
}
.widget h3 {
    border-bottom: 1px solid #ccc;
    font-family: "Raleway-Light";
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 0 0 10px;
}
.pblctn_scl_icns .ssba > div
{
	text-align:center !important;
	margin-top: 10px;
}
.pblctn_scl_icns .ssba > div > a
{
	margin: 0px !important;
	padding: 6px !important;
}
.pblctn_scl_icns .ssba > div > a > img {
    border: 0 none;
    box-shadow: none !important;
    display: inline !important;
    vertical-align: middle;
    width: 30px !important;
	padding: 0px !important;
}

.rght_sid_socl_icn .ssba > div
{
	margin-top: 10px;
    text-align: left !important;
}
.rght_sid_socl_icn .ssba > div > a
{
    margin: 0 !important;
    padding: 0 !important;
}
.rght_sid_socl_icn .ssba > div > a > img {
    border: 0 none;
    box-shadow: none !important;
    display: inline !important;
    padding: 0 !important;
    width: 20px !important;
}

.pblctn_right_sid_mtr .ssba > div > a > img {
    margin: 0 !important;
    padding: 0 7px !important;
    width: 42px !important
}
.wp-caption.alignnone {
    margin: 10px 0;
}



.wp-caption.alignnone, .wp-caption.aligncenter, .aligncenter, .alignnone {max-width:100% !important;}
img.aligncenter, img.alignnone {max-height: 100% !important; width:auto; height:auto; }
.alignleft { float: left; margin-right: 20px; margin-bottom: 20px; max-width:100%; }
.alignright{ float: right; margin-left: 20px; margin-bottom: 20px; max-width:100%; }
img.aligncenter { margin:0 auto; display:block; }
hr { width: 100%;}

.wp-caption.alignnone, .wp-caption.alignright, .wp-caption.alignleft { background: #f2f2f2; border: 1px solid #ccc;}
.wp-caption.alignnone p, .wp-caption.alignright p, .wp-caption.alignleft p { margin: 10px}

/* Skip Content Style */
#skipcontent a {
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:transparent;
	-webkit-transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100;
}

#skipcontent a:focus {
	position:absolute;
	left:0px;
	top:0px;
	background:#294179;
	outline:0;
	-webkit-transition: top .1s ease-in, background .5s linear;
        transition: top .1s ease-in, background .5s linear;
}
.container div { outline: 0; }
.custom-button {
	background-color: #e57200;
	color: #fff;
	font-family: 'Raleway-Bold';
	font-size:14px;
	padding:20px !important;
}
.col-xs-1 { padding-left:0 !important; padding-right:0 !important; }
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.toc-button {
	background-color: #294179;
	padding: 20px 10px !important;
	width: 100%;
	font-size: 24px !important;
	color: white !important;
	font-family: 'Raleway-Semibold';
	line-height:1.25em;
	white-space:normal !important;
}
.toc-box {
	border: 2px solid #e57200;
	padding: 30px;
}
.toc-box:before {
	content: '\f02d';
	font-family: FontAwesome;
	font-size: 20px;
	padding: 5px 10px;
	color: white;
	background-color: #e57200;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	position: absolute;
	border: 10px solid white;
	top: -30px;
}
.toc-small-button {
	background-color: #294179;
	padding: 12px !important;
	width: 100%;
	font-size: 14px !important;
	color: white !important;
	font-family: 'Raleway-Semibold';
	white-space:normal !important;
}
.default-toc { margin-top:25px; }

/** Pull Out box styles **/
.pull-out-box {
    position: relative;
    margin: 30px;
    width: auto; /* so margin matches others */
}
.pull-out-box.big-text {
    font-size: 1.4em;
}
.pull-out-box.book {
    border: 2px solid #e57200;
    padding: 30px;
}
.pull-out-box.book:before {
    content: '\f02d';
    font-family: FontAwesome;
    font-size: 20px;
    padding: 5px 10px;
    color: white;
    background-color: #e57200;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    border: 10px solid white;
    top: -30px;
}
.pull-out-box.light-bulb {
    border: 2px solid darkgray;
    padding: 30px;
}
.pull-out-box.light-bulb:before {
    content: '\f0eb';
    font-family: FontAwesome;
    font-size: 20px;
    padding: 6px 15px;
    color: white;
    background-color: darkgray;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    border: 10px solid white;
    top: -30px;
}
.pull-out-box.exclamation {
    border: 2px solid green;
    padding: 30px;
}
.pull-out-box.exclamation:before {
    content: '\f12a';
    font-family: FontAwesome;
    font-size: 20px;
    padding: 6px 17px;
    color: white;
    background-color: green;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    border: 10px solid white;
    top: -30px;
}
.pull-out-box.checkmark {
    border: 2px solid #294179;
    padding: 30px;
}
.pull-out-box.checkmark:before {
    content: '\f00c';
    font-family: FontAwesome;
    font-size: 20px;
    padding: 6px 11px;
    color: white;
    background-color: #294179;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    border: 10px solid white;
    top: -30px;
}
.pull-out-box.sun {
    border: 2px solid red;
    padding: 30px;
}
.pull-out-box.sun:before {
    content: '\f185';
    font-family: FontAwesome;
    font-size: 20px;
    padding: 6px 11px;
    color: white;
    background-color: red;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    border: 10px solid white;
    top: -30px;
}

/* Publication Intro Shortcode styles */
.page .intro {
    position: relative;
    margin-bottom: 60px;
    font-family: 'Raleway-Semibold', sans-serif !important;
    background:#294179;
}
.page .intro:before {
    content: "";
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.page .intro .intro-goal {
    position: relative;
    color: white !important;
    padding: 60px;
    font-size: 18px;
}
.page .intro .intro-goal .title {
    font-size: 36px;
    margin-bottom: 20px;
}

/* highlight text orange */
.definition {
    color: #e57200;
}

/** Table Styles **/
#content table { border: 1px solid #ccc; }
#content tr { border: 1px solid #ccc; }
#content tr td, #content tr th {
	padding: 6px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	vertical-align:top;
}
#content tr:first-child { background: #294179; }
#content tr:first-child th, #content tr:first-child td, #content tr:first-child td a { color:#fff; font-family:'Raleway-Bold'; }
#content tr:first-child th[scope=col] { font-weight:800; vertical-align:bottom; }
#content tr td, #content tr th { padding:5px }
#content tr td[scope=row], #content tr th[scope=row] { font-weight:bold; }
#content .table-responsive { display:flex; }
.question {
       font-family: 'Raleway-Bold';
       font-size: 18px;
       color: #e75200;
}
ul.checkbox_list {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
ul.checkbox_list input {
   margin: 8px 12px;
}
.footnotes {
    font-size: 0.8em;
}
.pdf a {
    background: url(../images/pdf.png) no-repeat top left;
    display: block;
    line-height: 50px;
    padding-left: 60px;
}
.search-wrap { position:relative; }
.search-wrap input[name=search_text] {
	    display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.search-icon {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border: none;
	background: transparent url(../images/search_icn.png) no-repeat center center;
}
.wp-caption {
	background: #f2f2f2;
	border: 1px solid #cccccc;
}
.wp-caption p.wp-caption-text { margin: 20px; }
.program_toc_box > div { margin-top:30px; }
.search-results .search_story_featured_image { max-width:230px; width:100%; height:auto; }
.search-results .content-type-heading { margin-top:30px; margin-bottom:10px; }
.search-results .archive-heading { font-size:28px; }
.search-results .entry-content { overflow:hidden; margin-bottom:15px; }
.search-results .archived-post h3 { font-size:20px; }
.search-results .search-header h4.entry-parent-title { margin-bottom:0; }
.search-results .search-header h3.entry-title { margin-top:10px; }
.search-results .search-header h4.entry-parent-title { font-weight:bold; color: #4b4e53; }
.search-results .search-publication-thumbnail { height:150px; overflow:hidden; }
.search-results .search-publication-thumbnail img { position:absolute; bottom:0; margin-bottom:0; }
.main-menu ul li.menu-item-has-children > a:focus { text-decoration:underline; }
.main-menu li:focus .sub-menu { display:block; }
.medium {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-color: #eee #ddd #bbb;
	border-width: 1px;
	border-style: solid;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
	min-height: 425px;
	margin: 5% 1%;
	color:#ffffff;
	background-size:cover !important;
	position:relative;
	box-sizing:content-box;
	height:auto;
	max-width:335px;
	width:100%;
}
.medium h1 { font-size:30px; margin-top:0; -webkit-font-smoothing:antialiased; }
.medium h1 a { color:#ffffff !important; text-shadow: 1px 4px 10px rgba(0, 0, 0, 1); }
.medium a:focus { outline-width:2px; }
.medium p { text-shadow: 1px 4px 10px rgba(0, 0, 0, 1); }
.medium-background {
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background-color: rgba(22, 22, 22, 0.65);
	padding: 30px;
	border-radius:5px;
}
.medium-wrapper { position:relative; height:100%; width:100%; }
.medium a { color:#ffffff !important; }
.medium p.mfooter { height:32px; bottom:30px; }
.wpcf7-force-hidden { display:none !important; }
.medium-wrapper p.mfooter {
	position: absolute;
	bottom: -30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width:265px;
}
.single-medium .medium { margin:0 auto; }
.medium-wrapper p.mfooter a.imglink{
	border-radius: 100%;
	overflow: hidden;
	display: inline-block;
	border: 1px solid #ffffff;
	margin-bottom: -11px;
}
#contact-form-body .hidden {
	display:block !important;
	max-height: 0;
	overflow:hidden;
	-webkit-transition: max-height 0.5s, overflow 0.5s 0.5s;
	transition: max-height 0.5s, overflow 0s;
}
#contact-form-body .show {
	display:block !important;
	visibility:visible !important;
	max-height: 1em;
	overflow:visible;
	-webkit-transition: max-height 0.5s, overflow 0.5s 0.5s;
	transition: max-height 0.5s, overflow 0.5s 0.5s;
	font-size:0.85em;
}
.archived-disclaimer {
	border: 1px solid #294179;
    background-color:#ccc;
	padding: 10px;
	color: #4B4E53;
	margin-top: -15px;
	margin-bottom: 15px;
}
.archived-disclaimer .fa {
    color:#e57200;
    padding-right: 8px;
}
.page-template-default .archived-disclaimer {
	margin-top: 0;
	margin-bottom: 0;
}
.list-publications { margin:5px 20px; }
#story-options { padding:0 25px 25px; }