.site-content
{
	min-height: 400px;
}
aside.widget {
    float: left;
    width: 100%;
}
aside.widget {
    float: left;
    width: 100%;
}
.widget h3 {
    border-bottom: 1px solid #ccc;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 0 0 10px;
}
.pblctn_scl_icns .ssba > div,
.ssba > div
{
	text-align:center !important;
	margin-top: 10px;
}
.pblctn_scl_icns .ssba > div > a,
.ssba > div > a
{
	margin: 0px !important;
	padding: 6px !important;
}
.pblctn_scl_icns .ssba > div > a > img,
.ssba > div > a > img {
    border: 0 none;
    box-shadow: none !important;
    display: inline !important;
    vertical-align: middle;
    width: 30px !important;
	padding: 0px !important;
}

.rght_sid_socl_icn .ssba > div
{
	margin-top: 10px;
    text-align: left !important;
}
.rght_sid_socl_icn .ssba > div > a
{
    margin: 0 !important;
    padding: 0 !important;
}
.rght_sid_socl_icn .ssba > div > a > img {
    border: 0 none;
    box-shadow: none !important;
    display: inline !important;
    padding: 0 !important;
    width: 20px !important;
}

.pblctn_right_sid_mtr .ssba > div > a > img {
    margin: 0 !important;
    padding: 0 7px !important;
    width: 42px !important
}
.wp-caption.alignnone {
    margin: 10px 0;
}



.wp-caption.alignnone, .wp-caption.aligncenter, .aligncenter, .alignnone {max-width:100% !important;}
img.aligncenter, img.alignnone {max-height: 100% !important; width:auto; height:auto; }
.alignleft { float: left; margin-right: 20px; margin-bottom: 20px; max-width:100%; }
.alignright{ float: right; margin-left: 20px; margin-bottom: 20px; max-width:100%; }
img.aligncenter { margin:0 auto; display:block; }
hr { width: 100%;}

.wp-caption.alignnone, .wp-caption.alignright, .wp-caption.alignleft { background: #f2f2f2; border: 1px solid #ccc;}
.wp-caption.alignnone p, .wp-caption.alignright p, .wp-caption.alignleft p { margin: 10px}

/* Skip Content Style */
#skipcontent a {
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:transparent;
	-webkit-transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100;
}

#skipcontent a:focus {
	position:absolute;
	left:0px;
	top:0px;
	background:#294179;
	outline:0;
	-webkit-transition: top .1s ease-in, background .5s linear;
        transition: top .1s ease-in, background .5s linear;
}
.container div { outline: 0; }
.custom-button {
	background-color: #e57200;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	font-size:19px;
	padding:20px !important;
}
.col-xs-1 { padding-left:0 !important; padding-right:0 !important; }
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.toc-button {
	background-color: #294179;
	padding: 20px 10px !important;
	width: 100%;
	font-size: 24px !important;
	color: white !important;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	line-height:1.25em;
	white-space:normal !important;
}
.toc-box {
	border: 2px solid #e57200;
	padding: 30px;
}
.toc-box:before {
	content: '\f02d';
	font-family: FontAwesome;
	font-size: 20px;
	padding: 5px 10px;
	color: white;
	background-color: #e57200;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	position: absolute;
	border: 10px solid white;
	top: -30px;
}
.toc-small-button {
	background-color: #294179;
	padding: 12px !important;
	width: 100%;
	font-size: 14px !important;
	color: white !important;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	white-space:normal !important;
}
.default-toc { margin-top:25px; }


.oet-shortcode.flx .pull-right {
    margin-left: auto;
}
.oet-shortcode.flx .pull-left {
    margin-right: auto;
}
.oet-shortcode.flx .pull-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

/** Pull Out box styles **/

.pull-out-box {
    position: relative;
    margin: 30px;
}
.pull-out-box.big-text {
    font-size: 1.4em;
}
.pull-out-box.book {
    border: 2px solid #e57200;
    padding: 30px;
}
.pull-out-box.book:before {
    content: '\f02d';
    font-family: FontAwesome;
    font-size: 20px;
    padding: 5px 10px;
    color: white;
    background-color: #e57200;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    border: 10px solid white;
    top: -30px;
}
.pull-out-box.light-bulb {
    border: 2px solid darkgray;
    padding: 30px;
}
.pull-out-box.light-bulb:before {
    content: '\f0eb';
    font-family: FontAwesome;
    font-size: 20px;
    padding: 6px 15px;
    color: white;
    background-color: darkgray;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    border: 10px solid white;
    top: -30px;
}
.pull-out-box.exclamation {
    border: 2px solid green;
    padding: 30px;
}
.pull-out-box.exclamation:before {
    content: '\f12a';
    font-family: FontAwesome;
    font-size: 20px;
    padding: 6px 17px;
    color: white;
    background-color: green;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    border: 10px solid white;
    top: -30px;
}
.pull-out-box.checkmark {
    border: 2px solid #294179;
    padding: 30px;
}
.pull-out-box.checkmark:before {
    content: '\f00c';
    font-family: FontAwesome;
    font-size: 20px;
    padding: 6px 11px;
    color: white;
    background-color: #294179;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    border: 10px solid white;
    top: -30px;
}
.pull-out-box.sun {
    border: 2px solid red;
    padding: 30px;
}
.pull-out-box.sun:before {
    content: '\f185';
    font-family: FontAwesome;
    font-size: 20px;
    padding: 6px 11px;
    color: white;
    background-color: red;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    border: 10px solid white;
    top: -30px;
}

/* Pull Quote */
.oet_pull_quote_icon::before {
    font-size: 24px;
    color: #e57200;
    font-style: normal !important;
}


/* OET SHORTCODE IN GENERAL */
.oet-shortcode.flx {display:flex;}

/* Publication Intro Shortcode styles */
.page .intro,
.oet-shortcode .intro {
    position: relative;
    margin-bottom: 60px;
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 600 !important;
    background:#294179;
		float:left;
		width: 100%;
}
.page .intro:before,
.oet-shortcode .intro:before {
    content: "";
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.page .intro .intro-goal,
.oet-shortcode .intro .intro-goal {
    position: relative;
    color: white !important;
    padding: 60px;
    font-size: 18px;
}
.page .intro .intro-goal .title,
.oet-shortcode .intro .intro-goal .title {
    font-size: 36px;
    margin-bottom: 20px;
}

/* highlight text orange */
.definition {
    color: #e57200;
}

/** Table Styles **/
#content table { border: 1px solid #ccc; }
#content tr { border: 1px solid #ccc; }
#content tr td, #content tr th {
	padding: 6px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	vertical-align:top;
}
#content tr:first-child { background: #294179; }
#content tr:first-child th, #content tr:first-child td, #content tr:first-child td a { color:#fff; font-family: 'Work Sans', sans-serif; font-weight: bold; }
#content tr:first-child th[scope=col] { font-weight:800; vertical-align:bottom; }
#content tr td, #content tr th { padding:5px }
#content tr td[scope=row], #content tr th[scope=row] { font-weight:bold; }
#content .table-responsive { display:flex; }
.question {
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
    font-size: 19px;
    color: #e57200;
}
ul.checkbox_list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
ul.checkbox_list input {
   margin: 8px 12px;
}
.footnotes {
    font-size: 0.8em;
}
.pdf a {
    background: url(../images/pdf.png) no-repeat top left;
    display: block;
    line-height: 50px;
    padding-left: 60px;
}
.search-wrap { position:relative; }
.search-wrap input[name=search_text] {
	    display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.search-icon {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border: none;
	background: transparent url(../images/search_icn.png) no-repeat center center;
}
.wp-caption {
	background: #f2f2f2;
	border: 1px solid #cccccc;
}
.wp-caption p.wp-caption-text { margin: 20px; }
.program_toc_box > div { margin-top:30px; }
.search-results .search_story_featured_image { max-width:230px; width:100%; height:auto; }
.search-results .content-type-heading { margin-top:30px; margin-bottom:10px; font-size: 28px; line-height:33px; color:#E57200; }
.search-results .archive-heading { font-size:28px; }
.search-results .entry-content { overflow:hidden; margin-bottom:15px; }
.search-results .archived-post h3 { font-size:20px; }
.search-results .search-header h4.entry-parent-title { margin-bottom:0;}
.search-results .search-header h3.entry-title { margin-top:0; font-size: 22px; line-height: 26px; margin-bottom:5px; }
.search-results .search-header h4.entry-parent-title { font-weight:bold; color: #4b4e53; margin-top:0; margin-bottom:10px; }
.search-results .search-publication-thumbnail { height:150px; overflow:hidden; }
.search-results .search-publication-thumbnail img { position:absolute; bottom:0; margin-bottom:0; }
.search-results .search-thumbnail .search-result-icon {
	width: 230px;
    margin: 0 auto;
    background: #E0E0E0;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-results .search-thumbnail .search-result-icon .search-result-svg { width:75px; height:auto; }
.search-results .search-thumbnail .search-result-icon .fa { color:#294179; }
.main-menu ul li.menu-item-has-children > a:focus { text-decoration:underline; }
.main-menu li:focus .sub-menu { display:block; }
.medium {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-color: #eee #ddd #bbb;
	border-width: 1px;
	border-style: solid;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
	min-height: 425px;
	margin: 5% 1%;
	color:#ffffff;
	background-size:cover !important;
	position:relative;
	box-sizing:content-box;
	height:auto;
	max-width:335px;
	width:100%;
}
.medium h1, .medium h2, .medium h3 { font-size:30px; margin-top:0; -webkit-font-smoothing:antialiased; }
.medium h1 a, .medium h2 a, .medium h3 a { color:#ffffff !important; text-shadow: 1px 4px 10px rgba(0, 0, 0, 1); }
.medium a:focus { outline-width:2px; }
.medium p { text-shadow: 1px 4px 10px rgba(0, 0, 0, 1); }
.medium-background {
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background-color: rgba(22, 22, 22, 0.65);
	padding: 30px;
	border-radius:5px;
}
.medium-wrapper { position:relative; height:100%; width:100%; overflow-wrap: break-word; }
.medium a { color:#ffffff !important; }
.medium p.mfooter { height:32px; bottom:30px; }
.wpcf7-force-hidden { display:none !important; }
.medium-wrapper p.mfooter {
	position: absolute;
	bottom: -30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width:265px;
}
.single-medium .medium { margin:0 auto; }
.medium-wrapper p.mfooter a.imglink{
	border-radius: 100%;
	overflow: hidden;
	display: inline-block;
	border: 1px solid #ffffff;
	margin-bottom: -11px;
}
#contact-form-body .hidden {
	display:block !important;
	max-height: 0;
	overflow:hidden;
	-webkit-transition: max-height 0.5s, overflow 0.5s 0.5s;
	transition: max-height 0.5s, overflow 0s;
}
#contact-form-body .show {
	display:block !important;
	visibility:visible !important;
	max-height: 1em;
	overflow:visible;
	-webkit-transition: max-height 0.5s, overflow 0.5s 0.5s;
	transition: max-height 0.5s, overflow 0.5s 0.5s;
	font-size:0.85em;
}
.archived-disclaimer {
	border: 1px solid #294179;
    background-color:#ccc;
	padding: 10px;
	color: #4B4E53;
	margin-top: -15px;
	margin-bottom: 15px;
}
.archived-disclaimer .fa {
    color:#e57200;
    padding-right: 8px;
}
.page-template-default .archived-disclaimer {
	margin-top: 0;
	margin-bottom: 0;
}
.list-publications { margin:5px 20px; }
#story-options { padding:0 25px 25px; }
.story_sharewidgeticns .oet-social-img { width:auto !important; }
.story_sharewidget .story_sharewidgeticns .ssba-wrap > div > a { margin:10px 5px; }
.story_sharewidget .story_sharewidgeticns .ssba-wrap span#stEmbed { margin: 0 5px; }

.row.ftr.oet-footer { background-color: #2a4378; padding: 10px; }
.oet-footer-seal {float: left;margin: 5px 30px 0px 30px;}
.oet-footer div.ftr_lnks .menu-footer-menu-container ul li a {color: #ffffff !important;}
.ftr_logo>a {display: block;margin: -12px 20px 0px 20px;float: right;}
@media (max-width: 610px){
	.oet-footer div.ftr_lnks .menu-footer-menu-container ul li {padding-right:10px !important;}
}
@media (max-width: 525px){
	.oet-footer-seal {
    margin: 0px auto !important;
    width: 100%;
    text-align: center;
	}
	.oet-footer div.ftr_lnks .menu-footer-menu-container ul li {padding-right:0px !important;}
	.ftr_logo>a {float:none !important; margin-top:0px !important;}
}


/************************************** */
/**** HOMEPAGE TEMPLATE ACF STARTS **** */
/************************************** */
/*----------3COLUMNS----------*/
.oet_3column_layout {
		padding-left: 30px !important;
    padding-right: 30px !important;
}
.oet_acf_homepage_3column_layout.ovlp {margin-left: -32px !important; margin-right: -32px !important;}

/*--------TRENDING NOW--------*/
.oet-trending-image, .oet-trending-title, .oet-trending-description, .oet-trending-button {margin: 10px 0px;}
.oet-trending-image a {color:#e57200;}
.adminoverridewidth {width:100%;}
.oet-trending-section-title {font-size:28px; color:#E57200; text-align:center;padding:10px 0px; margin:30px 0px; font-family: 'Work Sans', sans-serif !important; font-weight: 600 !important; }
.oet-trending-description {min-height: 105px; overflow: hidden;}
@media (max-width: 1200px){
	.oet-trending-description {min-height: 125px !important;}
}
.oet-trending-title {font-size: 24px; font-family: 'Work Sans', sans-serif !important; font-weight: 600 !important; color: #E57200 !important; line-height: 34px;}
.oet-trending-title i {color: #222; margin-right:10px;}
/*.oet_trendingnow_layout a {display: block; float: left; color:#ffffff; background-color:#E57200; padding:10px 15px;*/
-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
/*.oet_trendingnow_layout a:hover {color: #ffffff !important; text-decoration: none; opacity: .9;}
.oet_trendingnow_layout .pad {padding-left:20px; padding-right:20px;}*/
.oet_3column_wrapper .ovlp {margin-left: -50px !important; margin-right: -50px !important;}
@media (max-width: 991px){
	.oet-trending-description {min-height: 0px !important; max-height: none !important;}
	/*.oet_trendingnow_layout img {width:100%; height: auto !important;}
	.oet_trendingnow_layout .pad {padding-left:0px !important; padding-right:0px !important;}*/
	.oet_3column_wrapper .ovlp {margin-left: 0px !important; margin-right: 0px !important;}
}
/*--------TILELINKS--------*/
.oet_tilelinks_wrapper {
	position: relative;
	background-size: cover !important;
	padding: 50px !important;
	float: left;
}
.oet_tilelinks_wrapper::before {
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	z-index: -1;
}
.oet_tilelinks_background_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(34, 57, 105, 0.8);
}
.oet-tilelinks-section-title {
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 600 !important;
	text-align:center;
	padding:10px 0px; 
	margin:0px 0px 30px 0px;
  width: 100%;
}
.oet-tilelinks-content-wrapper {
  left: 0px;
  top: 0px;
  min-width: 100%;
}
.oet-tilelinks-button-block a {
	margin: 0px auto;
  display: block;
	width:100%;
  max-width: 350px;
  min-width: 350px;
  text-align: center;
  padding: 10px 10px;
  line-height: 26px;
}
.oet-tilelinks-button-block a:hover {text-decoration: none !important;}
.oet-tilelinks-button-block table {margin: 20px auto; max-width: 350px;}
.oet-tilelinks-button-block table, .oet-tilelinks-button-block table tr, .oet-tilelinks-button-block table tr td {
  border: 0px !important;
	background: transparent !important;
	width: 100%;
}
.oet-tilelinks-button-block table tr td {
  vertical-align: middle !important;
  padding: 0px !important;
  margin: 0px !important;
	height: 90px !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
}
@media (max-width: 991px){
	.oet_tilelinks_wrapper {min-height: none !important;}
	.oet_3column_wrapper, .oet_trendingnow_layout, .oet_acf_homepage_2column_layout, .oet_2column_layout {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}
@media (max-width: 512px){
.oet-tilelinks-button-block a {min-width: auto !important; max-width: none !important;}
.oet-tilelinks-button-block table {max-width: none !important;}
}
/*--------SPACER--------*/
.oet-tilelinks-spacer {padding: 75px 0px 0px 0px !important;float: left;width: 100%;}
.slideshow_container_style-light {float: left;}
/************************************** */
/****  HOMEPAGE TEMPLATE ACF ENDS  **** */
/************************************** */

/****************************************
 ********* Slideshow Styles *************
 ****************************************/
.oet-acf-page-header {
	width: 100%;
	height: auto;
	padding:0;
	overflow:hidden;
}
@media screen and (max-width: 990px) {
	.oet-acf-page-header .oet-slide-wrapper .oet-acf-slide-box {
	    width: 100%;
	}
}


.oet-slide-wrapper {
	background: linear-gradient(180deg, rgba(41, 65, 121, 0.65) 0%, #FFFFFF 100%);
	padding: 50px;
	width:100%;
	left:0;
	right:0;
	height:100%;
}
.oet-acf-slide-box {
	width: 50%;
	background: #2A4378;
	padding: 30px;
}
.oet-acf-slide-box p.oet-acf-slide-description a { color:#ffffff; text-decoration: underline; display:inline !important; font-family: 'Open Sans', sans-serif; }
.oet-acf-slide-box p.oet-acf-slide-description a:hover { text-decoration:none; font-family: 'Open Sans', sans-serif; }
.oet-acf-slide-box p.oet-acf-slide-description strong { font-family: 'Open Sans', sans-serif; font-weight: bold; }
.oet-acf-slide-box p.oet-acf-slide-description i, .oet-acf-slide-box p.oet-acf-slide-description em { font-family: 'Open Sans', sans-serif; font-weight: 300;  font-style: italic; }
.oet-acf-slide-box p.oet-acf-slide-description strong em, .oet-acf-slide-box p.oet-acf-slide-description em strong,
.oet-acf-slide-box p.oet-acf-slide-description strong i, .oet-acf-slide-box p.oet-acf-slide-description i strong { font-family: 'Open Sans', sans-serif; font-weight: bold; font-style: italic;  }
h2.oet-acf-header-text,
h1.oet-acf-header-text {
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	font-size: 24px !important;
	line-height: 28px;
	color: #FFFFFF !important;
	margin-top:0; 
}
.oet-acf-page-header p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
}
.oet-slide-button-row {
	margin:25px 0 15px; 
}
.oet-slide-button {
	background: #E57200;
	padding: 10px 20px;
	border-radius: 4px;
	color: #ffffff;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	font-size: 14pt;
	line-height: 19px;
}
.oet-slide-button:hover {
	background:#e98827;
	text-decoration:none; 
}
.oet-trending-button a {
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	font-size: 14pt;
	display: block;
	line-height: 38px;
}
.oet-trending-button a i.fa {
    font-size: 14px;
		font-weight: 400;
}
/****************************************
 ****** End of Slideshow Styles *********
 ****************************************/
.page-template-publication-subsection-template #toc.program_toc_box {
	margin-bottom: 25px;
	overflow: hidden;
	clear: both;
}
#oet-video-overlay {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,.65);
    padding: 10px;
    box-sizing: border-box;
}


/****************************************
 ****** YOUTUBE / BOOTSTRAP MODAL *******
 ****************************************/
.oet-youtube-modal-wrapper .modal {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px !important;
}

.oet-youtube-modal-wrapper .modal-dialog {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.oet-youtube-modal-wrapper .modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  /*margin-right: -4px;*/ /* Adjusts for spacing */
}

.oet_youtube_side_container_close {
	position: absolute;
	top: -38px;
  right: -6px;
  z-index: 999999;
  color: #222;
  width: 36px;
  height: 36px;
	cursor:pointer;
}
.oet_youtube_side_container_close .dashicons{
	font-size: 46px;
  color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
.oet_youtube_side_container_close .dashicons:before {
    position: absolute;
    left: -5px;
    top: 0px;
}



.sidebar-youtube-video a {
  display: block;
  position: relative;
}
.oet-youtube-play-overlay {
	position: absolute;
	display: block;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.oet-youtube-play-overlay img {
  width: 75px !important;
  top: 35%;
  opacity: .86;
}
.sidebar-youtube-video a>img {
  opacity: 0.9;
  width: 100%;
}
.youtube-videoWrapper iframe {
    width: 100% !important;
}


iframe.oet_youtube_side_container {margin: 0px !important;}
.oet-youtube-modal-wrapper .modal-dialog {margin: 0px !important; width:100% !important;}
.oet-youtube-modal-wrapper .modal-dialog .modal-content {
		background-color: #000000 !important;
    line-height: 0px !important;
    border: 1px solid #989898;
		overflow: hidden;
}

/** Featured Video Style Fixes **/
.vdo_bg a.oet-video-link{ display:block !important; }
.lft_sid_mtr .vdo_bg img, .rght_sid_mtr .vdo_bg img { width:100% !important; }
.vdo_bg p { height: unset !important; margin: 0px !important; }
.vdo_bg p:nth-of-type(2) { display: block; padding: 15px !important; float: left; width: 100%; box-sizing: border-box; }
body.home .vdo_bg { min-height: 0px !important; margin-top: 0px !important; }
.vdo_bg { min-height: 340px !important; margin-top: 10px; width: 100% !important; }
body.home .lft_sid_mtr h4, body.home .lft_sid_mtr h3 { height: auto !important; display: block; width: auto !important; }
.lft_sid_mtr h4, .lft_sid_mtr h3 { height: 52px; display: table-cell; vertical-align: bottom; width: 1000px !important; }
.rght_sid_mtr.lft_sid_mtr h4 , .rght_sid_mtr.lft_sid_mtr h3{ height: auto; display: block; vertical-align: top; width: auto !important; }
body.home .stry-video-avatar-table{ top: 40% !important; }
.stry-video-avatar-table { top: 25% !important; }

/** OET Embed styles **/
.medium-wrapper p.mfooter { overflow:visible; }
.medium-wrapper p.mfooter a.imglink {
	border: none;
    border-radius: 0;
}
.medium-wrapper p.mfooter a.imglink img {
	border-radius: 100%;
    margin-right: 5px;
}
.medium-wrapper p.mfooter a.imglink:hover,
.medium-wrapper p.mfooter a.imglink:focus{
    outline: 1px solid #fff;
}
.grecaptcha-badge { opacity:0 }
.oet-featured-area-block .lft_sid_mtr h3,
.oet_featured_item_block .lft_sid_mtr h3 {
	display: block;
    height: auto;
    width: 100%!important;
}
.oet-featured-area-block .lft_sid_mtr h4 {
	border-bottom: none;
	font-size: 19px;
    color: #E57200;
    font-family: 'Work Sans', sans-serif !important;
    font-weight: bold !important;
    line-height: 26px;
    margin-bottom: 0;
}
.oet_featured_item_block_wrapper h1.oet-featured-item-title,
.oet_featured_item_block_wrapper h2.oet-featured-item-title,
.oet_featured_item_block_wrapper h3.oet-featured-item-title, 
.oet_featured_item_block_wrapper h4.oet-featured-item-title,
.oet_featured_item_block_wrapper h5.oet-featured-item-title,
.oet_featured_item_block_wrapper h6.oet-featured-item-title {
    font-size: 19px!important;
    font-weight: 700!important;
    margin-bottom: 2px!important;
    margin-top: 0!important;
    padding: 0!important;
    border-bottom: none;
}
.pblctn_lft_sid_img_cntnr.padding_left { padding-bottom:15px; }
.pblctn_lft_sid_img_cntnr h2 {
	color: #294179 !important;
	font-size: 24px;
}
.disruptive_content h3 {
    font-size: 21px;
    padding-bottom: 10px;
}
.disruptive_content .link_dwnlds a {
	width: 85%;
	margin-top: 3px !important;
}
#disclaimer_footer {
	border: 1px solid #2a4378;
    overflow: hidden;
    margin-bottom: 15px;
    font-style: italic;
    padding: 15px;
    font-size: 0.85em;
    background: #DCE5F3;
}
@media screen and (max-width: 1200px) {
	.stry-video-avatar-table { top: 20% !important; } 
}

@media screen and (max-width:  992px) {
	.stry-video-avatar-table { top: 40% !important; }
}

@media screen and (min-width: 974px){
	.oet-youtube-modal-wrapper .modal-dialog {max-width:854px; margin:0px !important;}
}

@media screen and (max-width:  650px) {
	.stry-video-avatar-table {top: 30% !important;}
}

@media screen and (max-width: 640px){
	iframe.oet_youtube_side_container { height: 380px !important;}
}

@media screen and (max-width: 525px){
	iframe.oet_youtube_side_container { height: 200px !important;}
	.oet-youtube-modal-wrapper .modal { padding: 10px !important;}
}

@media screen and (max-width:  420px) {
	.stry-video-avatar-table { top: 25% !important; }
}