.site-content
{
	min-height: 400px;
	margin-top: 10px;
}
aside.widget {
    float: left;
    width: 100%;
}
aside.widget {
    float: left;
    width: 100%;
}
.widget h3 {
    border-bottom: 1px solid #ccc;
    font-family: "Raleway-Light";
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 0 0 10px;
}
.pblctn_scl_icns .ssba > div
{
	text-align:center !important;
	margin-top: 10px;
}
.pblctn_scl_icns .ssba > div > a
{
	margin: 0px !important;
	padding: 6px !important;
}
.pblctn_scl_icns .ssba > div > a > img {
    border: 0 none;
    box-shadow: none !important;
    display: inline !important;
    vertical-align: middle;
    width: 30px !important;
	padding: 0px !important;
}

.rght_sid_socl_icn .ssba > div
{
	margin-top: 10px;
    text-align: left !important;
}
.rght_sid_socl_icn .ssba > div > a
{
    margin: 0 !important;
    padding: 0 !important;
}
.rght_sid_socl_icn .ssba > div > a > img {
    border: 0 none;
    box-shadow: none !important;
    display: inline !important;
    padding: 0 !important;
    width: 20px !important;
}

.pblctn_right_sid_mtr .ssba > div > a > img {
    margin: 0 !important;
    padding: 0 7px !important;
    width: 42px !important
}
.wp-caption.alignnone {
    margin: 10px 0;
}



.wp-caption.alignnone, .wp-caption.aligncenter, .aligncenter, .alignnone {max-width:100% !important;}
img.aligncenter, img.alignnone {max-height: 100% !important;}
.alignleft { float: left; margin-right: 20px; margin-bottom: 20px;}
.alignright{ float: right; margin-left: 20px; margin-bottom: 20px;}
hr { width: 100%;}

.wp-caption.alignnone, .wp-caption.alignright, .wp-caption.alignleft { background: #f2f2f2; border: 1px solid #ccc;}
.wp-caption.alignnone p, .wp-caption.alignright p, .wp-caption.alignleft p { margin: 10px}

/* Skip Content Style */
#skipcontent a {
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:transparent;
	-webkit-transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100;
}

#skipcontent a:focus {
	position:absolute;
	left:0px;
	top:0px;
	background:#00529f;
	outline:0;
	-webkit-transition: top .1s ease-in, background .5s linear;
        transition: top .1s ease-in, background .5s linear;
}
.container div { outline: 0; }
.custom-button {
	background-color:orange;
	color: white;
	font-family: 'Raleway-Bold';
	font-size:14px;
	padding:20px !important;
}
.col-xs-1 { padding-left:0 !important; padding-right:0 !important; }
