.oet-site
{
	margin-top: 0!important;
	margin-bottom: 0!important;
	max-width: 100% !important;
}
footer[role="oet_contentinfo"] {
    border-top: 1px solid #EDEDED;
    clear: both;
    font-size: 0.857143rem;
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.71429rem;
    max-width: 100%;
    padding: 1.71429rem 0;
}
.oet_sub_header {
    float: left;
    width: 70%;
	margin-bottom: 25px;
}
.oet_sub_header_sec {
    float: left;
    width: 30%;
}
.oet_sub_header_sec .oet-searchform {
    float: left;
    width: 100%;
	padding-bottom: 25px;
}
.oet-searchform #searchform > div
{
	float: right;
}
.oet_sub_header_sec .oet-socialicons {
    float: left;
    width: 100%;
}
.oet_sub_header_sec .oet-socialicons > a{
    float: right;
	padding-left: 5px;
}
.site-content
{
	min-height: 400px;
	margin-top: 10px;
}