.slideshow_container {
  margin: 0;
  position: relative;
  width: 100%;
}
.slideshow_container div {
  clear: none !important;
  max-width: none !important;
  padding: 0;
}
.slideshow_container img {
  border: none;
  margin: 0;
  padding: 0;
  max-width: none !important;
}
.slideshow_container p {
  margin: 0;
  padding: 10px;
}
.slideshow_container a {
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
}
.slideshow_container ul {
  margin: 0;
  padding: 0;
}
.slideshow_container ul li {
  margin: 0;
  padding: 0;
}
.slideshow_container h1,
.slideshow_container h2,
.slideshow_container h3,
.slideshow_container h4,
.slideshow_container h5,
.slideshow_container h6 {
  margin: 0;
  padding: 10px;
}
.slideshow_container .slideshow_transparent,
.slideshow_container .slideshow_transparent:hover {
  zoom: 1;
}
.slideshow_container .slideshow_content {
  position: relative !important;
  overflow: hidden !important;
}
.slideshow_container .slideshow_view {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden !important;
}
.slideshow_container .slideshow_view.slideshow_currentView { top:0 !important; left:0 !important; }
.slideshow_container .slideshow_view .slideshow_slide {
  position: relative !important;
  float: left !important;
  overflow: hidden !important;
}
.slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_text .slideshow_background_anchor {
  position: absolute;
  top: 0;
}
.slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_image img {
  float: none;
}
.slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_image .slideshow_description_box {
  display: none;
  position: absolute;
  width: 100%;
}
.slideshow_container .slideshow_controlPanel {
  position: absolute;
  top: 5px;
  left: 50%;
  display: none;
  z-index: 2;
}
.slideshow_container .slideshow_controlPanel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow_container .slideshow_controlPanel ul li {
  float: left;
}
.slideshow_container .slideshow_controlPanel ul li:hover {
  cursor: pointer;
}
.slideshow_container .slideshow_button {
  padding: 0;
  position: absolute;
  top: 50%;
  cursor: pointer;
  display: none;
  z-index: 2;
}
.slideshow_container .slideshow_button.slideshow_previous {
  left: 5px;
}
.slideshow_container .slideshow_button.slideshow_next {
  right: 5px;
}
.slideshow_container .slideshow_pagination {
  height: 0;
  position: absolute;
  width: 100%;
  display: none;
  z-index: 2;
}
.slideshow_container .slideshow_pagination .slideshow_pagination_center {
  display: table;
  margin: 0 auto;
}
.slideshow_container .slideshow_pagination .slideshow_pagination_center ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow_container .slideshow_pagination .slideshow_pagination_center ul li {
  display: inline;
  float: left;
}
.slideshow_container .slideshow_pagination .slideshow_pagination_center ul li:hover{
  cursor: pointer;
}
.slideshow_container .slideshow_pagination .slideshow_pagination_center ul li:focus {
  outline: 2px solid #f5f5f5;
}
.slideshow_container .assistive-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.slideshow_container .hide-text {
  font: 0/0 a;
  color: rgba(0, 0, 0, 0);
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}
.slideshow_container .slideshow_manufacturer {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_image .slideshow_description_box.oet-acf-slide-box {
  width: 50% !important;
  background: #2A4378 !important;
  padding: 30px;
  height: 100% !important;
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.slideshow_container .slideshow_description_box.oet-acf-slide-box h2.oet-acf-header-text{
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 0;
  text-align:left;
  padding: 0 0 10px;
}
.slideshow_container .slideshow_description_box.oet-acf-slide-box p {
  text-align:left;
  padding: 5px 0;
}
.slideshow_container .slideshow_description_box.oet-acf-slide-box p.oet-slide-button-row{
  margin: 0 0 15px !important;
}
.slideshow_container .slideshow_description_box.oet-acf-slide-box p.oet-slide-button-row a.oet-slide-button {
  padding: 10px 20px !important;
  display:inline-block !important;
}
.slideshow_container .slideshow_view.oet-acf-page-header {
  padding:0;
}
.slideshow_container .slideshow_view .slideshow_slide.oet-slide-wrapper{
  padding: 50px;
  width: 100%;
  height: 100%;
}
.slideshow_container_style-light .slideshow_pagination { bottom:80px !important; }
.slideshow_container_style-light .slideshow_pagination ul li {
  background: url(../images/slider_white_pager.svg) 0 0 no-repeat !important;
  background-size: 20px 20px !important;
  width: 20px !important;
  height: 20px !important;
}
.slideshow_container .slideshow_view .slideshow_slide.oet-slide-wrapper {
  border:none !important;
}
.slideshow_container .slideshow_pagination { width:55% !important; }
.oet-acf-slide-description { padding: 0 10px 10px; }
.oet-acf-slide-description {
  overflow: hidden;
  position: relative; 
  max-height: 110px; 
  text-align: justify;  
  margin-right: -1em;
  padding-right: 1em;
}
.oet-acf-slide-description::before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.oet-acf-slide-description::after {
  content: '';
  position: absolute;
  right: 0;
  width: 2em;
  height: 2em;
  margin-top: 0.2em;
  background: #2A4378;
}
@media (max-width: 1199px){
  .slideshow_container .slideshow_view .slideshow_slide.oet-slide-wrapper { padding:40px; }
  .slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_image .slideshow_description_box.oet-acf-slide-box { padding:25px; }
  .slideshow_container .slideshow_description_box.oet-acf-slide-box h2.oet-acf-header-text { padding-top:0; padding-bottom:0;font-size:22px; line-height:26px; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
  .slideshow_container .slideshow_description_box.oet-acf-slide-box p { font-size: 16px; line-height: 23px; max-height:100px; }
  .slideshow_container_style-light .slideshow_pagination { bottom:62px !important; }
}
@media (max-width: 990px){
  .slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_image .slideshow_description_box.oet-acf-slide-box {
    width:100% !important;
  }
  .slideshow_container .slideshow_view .slideshow_slide.oet-slide-wrapper {
    padding: 25px 25px 0 25px !important
  }
  .slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_image .slideshow_description_box.oet-acf-slide-box {
    padding:20px !important;
    bottom:auto !important;
    right:auto !important;
  }
  .slideshow_container .slideshow_description_box.oet-acf-slide-box h2.oet-acf-header-text {
    font-size:20px !important;
    padding:0;
  }
  .slideshow_container .slideshow_description_box.oet-acf-slide-box p {
    font-size:14px;
    padding:0;
    line-height:20px;
  }
  .slideshow_container .slideshow_view.oet-acf-page-header { height:275px !important; }
  .slideshow_container .slideshow_description_box.oet-acf-slide-box p.oet-slide-button-row a.oet-slide-button {
    padding:8px 12px !important;
  }
  .slideshow_container_style-light .slideshow_pagination { bottom:30px !important; width:100% !important; }
  .slideshow_container .slideshow_description_box.oet-acf-slide-box p.oet-slide-button-row { margin:10px 0 15px !important; }
  .slideshow_container_style-light .slideshow_pagination ul li {
    background-size: 16px 16px !important;
    width: 16px !important;
    height: 16px !important;
  }
  .slideshow_container .slideshow_description_box.oet-acf-slide-box .oet-acf-slide-description{ max-height:80px; }
}
@media (max-width: 800px){
  .slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_image .slideshow_description_box.oet-acf-slide-box {
    width:100% !important;
  }
  .slideshow_container .slideshow_view .slideshow_slide.oet-slide-wrapper {
    padding: 25px 25px 0 25px !important
  }
  .slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_image .slideshow_description_box.oet-acf-slide-box {
    padding:20px !important;
    bottom:auto !important;
    right:auto !important;
  }
  .slideshow_container .slideshow_description_box.oet-acf-slide-box h2.oet-acf-header-text {
    font-size:20px !important;
    padding:0;
  }
  .slideshow_container .slideshow_description_box.oet-acf-slide-box p {
    font-size:14px;
    padding:0;
    line-height:20px;
  }
  .slideshow_container .slideshow_view.oet-acf-page-header { height:275px !important; }
  .slideshow_container .slideshow_description_box.oet-acf-slide-box p.oet-slide-button-row a.oet-slide-button {
    padding:8px 12px !important;
  }
  .slideshow_container_style-light .slideshow_pagination { bottom:30px !important; width:100% !important; }
  .slideshow_container .slideshow_description_box.oet-acf-slide-box p.oet-slide-button-row { margin:10px 0 15px !important; }
  .slideshow_container_style-light .slideshow_pagination ul li {
    background-size: 16px 16px !important;
    width: 16px !important;
    height: 16px !important;
  }
  .slideshow_container .slideshow_description_box.oet-acf-slide-box .oet-acf-slide-description{ max-height:62px; }
}
@media (max-width: 600px){
  .slideshow_container_style-light .slideshow_pagination,
  .slideshow_slide.slideshow_slide_image img { width: 100% !important; opacity:0.5; }
  .slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_image .slideshow_description_box { width: auto !important; top: 15px; left: 15px; bottom: 15px !important; right: 15px; background:rgb(255,255,255);background: rgba(255, 255, 255, 0.7) !important; -pie-background: rgba(255, 255, 255, 0.8) !important; filter: alpha(opacity=80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; padding: 16px; }
  .slideshow_container_style-light .slideshow_description_box div.slideshow_title,
  .slideshow_container_style-light .slideshow_description_box div.slideshow_title a { font-size: 28px !important; line-height: 32px;opacity:1 !important;}
  .slideshow_container_style-light .slideshow_description_box div.slideshow_description,
  .slideshow_container_style-light .slideshow_description_box div.slideshow_description a { line-height: 25px; margin-top: 0; opacity:1 !important; margin-left:0; font-size:14px; }
  .slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_image .slideshow_description_box.oet-acf-slide-box {
    width:100% !important;
  }
  .slideshow_container .slideshow_view .slideshow_slide.oet-slide-wrapper {
    padding: 20px 20px 0 20px !important
  }
  .slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_image .slideshow_description_box.oet-acf-slide-box {
    padding:20px !important;
    bottom:auto !important;
    right:auto !important;
  }
  .slideshow_container .slideshow_description_box.oet-acf-slide-box h2.oet-acf-header-text {
    font-size:18px !important;
    padding:0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .slideshow_container .slideshow_description_box.oet-acf-slide-box p {
    font-size:12px;
    padding:0;
    line-height:18px;
  }
  .slideshow_container .slideshow_view.oet-acf-page-header { height:275px !important; }
  .slideshow_container .slideshow_description_box.oet-acf-slide-box p.oet-slide-button-row a.oet-slide-button {
    padding:8px 12px !important;
  }
  .slideshow_container_style-light .slideshow_pagination { bottom:20px !important; }
  .slideshow_container .slideshow_description_box.oet-acf-slide-box p.oet-slide-button-row { margin:10px 0 15px !important; }
  .slideshow_container_style-light .slideshow_pagination ul li {
    background-size: 14px 14px !important;
    width: 14px !important;
    height: 14px !important;
  }
  /*
  .navi_icn {
    margin-top: -10px !important;
  }
  .mobile-search-btn {
    padding: 6px;
    top: -9px;
  }
  */
  .slideshow_container .slideshow_description_box.oet-acf-slide-box .oet-acf-slide-description{ max-height:72px; }
}