/*
color palette:
	Dark Grey:       #4b4e53
	Dark Blue:       #00529f
	Light Grey:      #ccc
	Light Blue:      #1f5c99
	Pumpkin Orange:  #e57200
*/

@font-face{font-family:'Raleway-Bold';
	src:url(../fonts/Raleway-Bold.eot);
	src:url(../fonts/Raleway-Bold.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Raleway-Bold.ttf) format('truetype'),
		url(../fonts/Raleway-Bold.svg#glyphicons_halflingsregular) format('svg')}

@font-face{font-family:'Raleway-SemiBold';
	src:url(../fonts/Raleway-SemiBold.eot);
	src:url(../fonts/Raleway-SemiBold.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Raleway-SemiBold.ttf) format('truetype'),
		url(../fonts/Raleway-SemiBold.svg#glyphicons_halflingsregular) format('svg')}

@font-face{font-family:'Raleway-Regular';
	src:url(../fonts/Raleway-Regular.eot);
	src:url(../fonts/Raleway-Regular.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Raleway-Regular.ttf) format('truetype'),
		url(../fonts/Raleway-Regular.svg#glyphicons_halflingsregular) format('svg')}

@font-face{font-family:'Raleway-Light';
	src:url(../fonts/Raleway-Light.eot);
	src:url(../fonts/Raleway-Light.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Raleway-Light.ttf) format('truetype'),
		url(../fonts/Raleway-Light.svg#glyphicons_halflingsregular) format('svg')}


@font-face{font-family:'Raleway-SemiBold-Italic';
	src:url(../fonts/Raleway-SemiBold-Italic.eot);
	src:url(../fonts/Raleway-SemiBold-Italic.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Raleway-SemiBold-Italic.ttf) format('truetype'),
		url(../fonts/Raleway-SemiBold-Italic.svg#glyphicons_halflingsregular) format('svg')}


@font-face{font-family:'Raleway-Light-Italic';
	src:url(../fonts/Raleway-Light-Italic.eot);
	src:url(../fonts/Raleway-Light-Italic.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Raleway-Light-Italic.ttf) format('truetype'),
		url(../fonts/Raleway-Light-Italic.svg#glyphicons_halflingsregular) format('svg')}


@font-face{font-family:'CharisSILR';
	src:url(../fonts/CharisSILR.eot);
	src:url(../fonts/CharisSILR.eot?#iefix) format('embedded-opentype'),
		url(../fonts/CharisSILR.ttf) format('truetype'),
		url(../fonts/CharisSILR.svg#glyphicons_halflingsregular) format('svg')}


@font-face{font-family:'CharisSILB';
	src:url(../fonts/CharisSILB.eot);
	src:url(../fonts/CharisSILB.eot?#iefix) format('embedded-opentype'),
		url(../fonts/CharisSILB.ttf) format('truetype'),
		url(../fonts/CharisSILB.svg#glyphicons_halflingsregular) format('svg')}


body { padding-top: 15px; color: #4b4e53 !important; font-family: 'CharisSILR' !important;}
.soclize .socl_icns, .rght_sid_socl_icn .socl_icns, .pblctn_box .socl_icns { border-radius: 30px; }
.pblctn_box .socl_icns { background: #00529f; font-size: 18px; padding: 7px 0; width: 50px; height: 50px; color: #fff; border: 5px solid #fff; text-align: center}
.pblctn_box { width: 50px; margin: -40px auto 0}
.soclize .socl_icns { background: #4a4f55;  font-size: 12px; padding: 18px;  margin: 0 0 0 6px;}
.rght_sid_socl_icn { padding-left: 0 !important}
.rght_sid_socl_icn .socl_icns { font-size: 7px;  padding: 12px;  margin: 0 5px 0 0;}
.rght_sid_socl_icn .fa-google-plus {font-size: 13px !important; font-weight: bold;}
.twtr_icn { background: url(../images/social_icn.png) 7px 0 no-repeat}
.fb_icn { background: url(../images/social_icn.png) -41px 0 no-repeat}
.youtube_icn { background: url(../images/social_icn.png) -87px 0 no-repeat}
.gplus_icn { background: url(../images/social_icn.png) -132px 0 no-repeat}
.mail_icn { background: url(../images/social_icn.png) -176px 0 no-repeat}
.hdr { margin-bottom: 5px}
.hdr .col-md-12, .hdr .col-md-3, .hdr .col-md-11 { padding-right: 0 !important}
.hdr .col-md-7 { padding-left: 0 !important}
#header_logo {max-width:620px;}
.top_strp_img { float: left; background: url(../images/top_strap_img.png) 0 0 no-repeat}
.top_strp { overflow: hidden; background: url(../images/top_strap_img.png) 0 0 no-repeat; height: 55px}
.navi_bg { border-top: 2px solid #d2d3d4}
.navi_bg ul { padding: 0; margin-bottom: 0}
.navi_bg li, .ftr_lnks li { display: inline; float: left; font-family: 'Raleway-SemiBold'}
.navi_bg li a {color: #fff; font-size: 16px; padding: 8px 18px; float: left}
.navi_bg li a:focus { outline: none;}
.ftr_lnks li { font-size: 13px; padding: 13px 35px 13px 0;}
.ftr_lnks ul { padding: 0 !important}
.ftr_lnks { padding-left: 0 !important}
.ftr_lnks li a { color: #555}
.form-control-feedback { top: 1px !important; cursor: pointer}
.form-control-feedback:hover { opacity: .6}
.form-control { background: #f2f2f2 !important; height: 40px !important; box-shadow: none !important}
.border_blue { border: 1px solid #9fbedb; margin-top: 12px; border-radius: 3px; margin-bottom: 20px}
.border_blue h1 { font-family: 'Raleway-SemiBold'; color: #00529f; font-size: 40px !important; letter-spacing: 1.5px}
.pblctn_hed { font-family: 'Raleway-SemiBold'; color: #00529f; margin-bottom: 20px;}
.bnr_img img { width: 100.2%}
.bnr_img { padding-right: 0 !important }
.border_blue p { margin-left: 20px; font-size: 16px; line-height: 35px; margin-top: 20px; font-family: 'Raleway-Bold'; letter-spacing: .5px }
.hdng_mtr, .hdng_mtr a { font-size: 18px; color: #e57200; font-family: 'Raleway-Bold' !important}
.hdng_mtr a:hover { cursor: pointer; color: #F58516}
/*.rght_sid_mtr>.hdng_mtr, .hdng_mtr a { font-size: 13px; margin-bottom: 0; margin-top: 40px}*/
.rght_sid_mtr>.hdng_mtr, .hdng_mtr a { margin-bottom: 0; }
.pblctn_right_sid_mtr .hdng_mtr { font-size: 13px; margin-bottom: 0; border-top: 1px solid #ccc; padding-top: 10px; width: 100%; margin-top: 5px}
.pblctn_right_sid_mtr .hdng_mtr:first-child { border-top: none; margin-top: 0}
/*.rght_mtr { font-size: 12px}*/
.rght_mtr a, .rght_mtr a:hover { color: #4b4e53 }

.lft_sid_mtr { padding-left: 0 !important; margin-bottom: 30px; position: relative}
.lft_sid_mtr img, .rght_sid_mtr img { float: left; margin: 0 25px 25px 0}
.lft_sid_mtr h4:first-child, .rght_sid_mtr h4:first-child { border-bottom: 1px solid #ccc; margin-bottom: 15px; padding-bottom: 5px; font-family:'Raleway-Light'; font-size: 15px}
.lft_sid_mtr p, .rght_sid_mtr p {  margin: 0 0 10px}
.date { font-family: 'Raleway-Bold' !important; font-size: 13px}
.sprtn_brdr { position: absolute; top: 80px; bottom: 35px; width: 1px; background: #ddd; right: 0}

.rght_sid_mtr { padding-right: 0 !important; margin-bottom: 30px}
.rght_sid_mtr .rght_sid_mtr .btn_dwnld { width: auto; padding: 5px 20px; margin: 0 0 5px; }
.home_dwnld_btn a, .home_dwnld_btn a:hover { color: #fff}

.vdo_bg { background: #f2f2f2; border: 1px solid #ccc; padding: 0 !important; width: 98% !important;}
.pblctn_vdo_bg { background: #f2f2f2; border: 1px solid #ccc; padding: 0 !important; border-radius: 5px}
.vdo_bg img, .vdo_bg iframe { margin: 0; width: 100%;	}
.pblctn_vdo_bg img, .pblctn_vdo_bg iframe { width: 100%}
iframe { border: 0;}
.pblctn_vdo_bg_fr_two { background: #f2f2f2; border: 1px solid #ccc; padding: 0 !important; border-radius: 5px; width: 49% !important; margin-left: 2%;}
.pblctn_vdo_bg_fr_two img, .pblctn_vdo_bg_fr_two iframe { width: 100%}
.pblctn_vdo_bg_fr_two:first-child { margin-left: 0}
.pblctn_vdo_bg_fr_two p { margin: 14px; font-size: 15px;}

.tlkt_stp_vdo_cntnr .pblctn_vdo_bg img {padding: 0; height: auto}
.tlkt_stp_vdo_cntnr { margin-top: 10px}
.tlkt_stp_vdo_cntnr .pblctn_vdo_bg { margin-left: 5px; width: 32.9222% !important}
.tlkt_stp_vdo_cntnr .pblctn_vdo_bg a { float: left; height: 160px; overflow: hidden; margin-bottom: 20px;}
.tlkt_stp_vdo_cntnr .pblctn_vdo_bg:first-child { margin-left: 0}

.vdo_bg p, .pblctn_vdo_bg p { font-size: 15px;}
.vdo_bg p { margin: 20px; }
.pblctn_vdo_bg p { margin: 14px; }

.ftr_strp { background: url(../images/top_strap_img.png) 0 0 no-repeat; height: 25px; margin-top: 30px}
.ftr { border-bottom: 1px solid #ccc; margin-bottom: 10px;}
.ftr_logo { padding-right: 0 !important}
.fa-envelope, .fa-youtube-play, .fa-google-plus { font-size: 20px !important}
.soclize a { color: #fff; text-decoration: none}
.soclize a:hover {text-decoration: none}
.soclize .socl_icns:hover { background: #f2f2f2; transition: background .3s}
.soclize a:hover { color: #4a4f55; transition: color .3s}
.soclize { margin-top: 48px}
.rght_sid_socl_icn a, .pblctn_scl_icns a { color: #00529f}
.rght_sid_socl_icn a:hover, .pblctn_scl_icns a:hover { color: #3493f1}


.pblctn_scl_icns a, .story_scl_icns a,  { margin: 0 8% 0}
.pblctn_scl_icn_hedng, .story_scl_icn_hedng  { font-size: 15px; border-bottom: 1px solid #ccc; padding-bottom: 5px; margin-bottom: 0; font-family: 'Raleway-Light'; margin-top: 30px}
.dbl_coad_sign { font-size: 25px; color: #e57200}

.pblctn_box_icns { background: #444}
.pblctn_right_sid_mtr { padding: 0 !important;}
.pblctn_right_sid_mtr img, .pblctn_right_sid_mtr iframe { width: 100%; margin: 7px 0}
.pblctn_right_sid_mtr span img  { width: auto; margin-right: 4px}
.pblctn_right_sid_mtr .col-md-12 { margin-top: 35px; border: 1px solid #9fbedb; padding: 20px;}
.pblctn_right_sid_mtr p { float: left; width: 100%}
.padding_left { padding-left: 0 !important}
.padding_right { padding-right: 0 !important}
.col-md-9 .col-md-3 img { width: 100%}

.pblctn_lft_sid_img_cntnr .col-md-3{ text-align: center}
.pblctn_lft_sid_img_cntnr .rght_sid_mtr { padding-left: 0 !important}
.btn_dwnld {width: 129px; padding: 15px 0; margin: 15px 0 0; text-align: center; background: #e57200; border: none; color: #fff; border-radius: 3px; cursor: pointer; float: left; font-family: 'Raleway-Regular';}
.btn_dwnld:hover, .btn_dwnld:focus { opacity: .9}
.link_dwnlds a, .link_dwnlds a:hover { color: #fff; text-decoration: none}
.pblctn_scl_icns { height: 50px	}
.story_scl_icns { margin-bottom: 18px; }

.panel-group { float: left; margin: 30px 0 20px; width: 100%}
.panel-default>.panel-heading { background: none !important;}
.panel-default>.panel-heading+.panel-collapse>.panel-body { line-height: 23px}
.panel-heading { padding: 5px 15px 46px !important}
.panel-title>a { color: #00529f !important; font-family: 'Raleway-Bold'; float: left; width: 100%; background: url(../images/pls_mns_img.png) right -29px no-repeat; padding: 17px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding-right: 50px}
.panel-title>a:focus { outline: none}
.panel-title>a.collapsed { background: url(../images/pls_mns_img.png) right 9px no-repeat }
.panel-group .panel+.panel { margin-top: 10px !important}
.panel-title { line-height: 6px}

.pblctn_scl_icns .fa-envelope, .pblctn_scl_icns .fa-youtube-play, .pblctn_scl_icns .fa-google-plus { font-size: 25px !important}
.pblctn_scl_icns .fa-google-plus { font-weight: bold}
.blog_mtr { color: #00529f; font-family: "Raleway-Regular"; font-style: italic; font-size: 20px; line-height: 30px; margin: 0 0 15px;}
blockquote { border-left: none !important; font-size: auto !important; padding: 0 !important;}
.blog_date { margin: 0 0 30px; font-size: 16px }
.blog_athr { font-size: 16px; margin:0; font-family: 'CharisSILB' }
.blog_date, .panel-default>.panel-heading+.panel-collapse>.panel-body {  }
.pblctn_paramtr { letter-spacing: .5px; line-height: 25px;}
.pblctn_paramtr ul { margin-bottom: 25px}
.rght_sid_wdgt_hedng { font-family: 'Raleway-Bold' !important; font-size: 17px !important}
.pblctn_right_sid_mtr p{ margin: 0 0 10px}
.meta_date { font-family: 'Raleway-Bold'; margin: -19px 0 10px; float: left; text-align: center; width: 100%; }
.brdr_mrgn_none { border-top: none !important; margin: 0 !important}

.stp_cntnr { background: #00529f; color: #fff; margin-bottom: 20px;}
.stp_cntnr a { color: #fff;}
.stp_cntnr a:hover { color: #bbb; text-decoration: none}
.stp_cntnr h1, .stp_cntnr h3 {font-family: 'Raleway-Bold'; font-style: italic}
.tlkt_lft_sid h1, .tlkt_lft_sid h3 { float: left;}

.tlkt_lft_sid h1 { color: #e57200 !important; font-size: 60px; margin: 0 0 5px }
.tlkt_lft_sid h3 { color: #fff !important;  }
.tlkt_rght_sid h3 { color: #fff !important; border-bottom: 1px solid #677f96; letter-spacing: .5px}
.stp_cntnr li { list-style: none; margin-bottom: 5px}
.stp_cntnr li span { margin-right: 7px}
.stp_cntnr ul { padding-left: 0; font-size: 15px}
.btm_lnk_blustrp a { color: #e57200; }
.btm_lnk_blustrp a:hover, .btm_lnk_blustrp a:focus { color: #F58516}
.btm_lnk_blustrp { text-align: center; font-family: 'CharisSILB'; font-size: 18px; margin: 20px 0 70px}
.story_right_sid_mtr>.pblctn_scl_icn_hedng, .pblctn_right_sid_mtr>.story_scl_icn_hedng { font-family: 'Raleway-Light'; margin-top: 25px}

.bg_img_of_icns h3 { color: #fff !important}
.bg_img_of_icns .btn_dwnld, .bg_img_of_icns .link_dwnlds { margin-top: 0; margin-bottom: 0}
.bg_img_of_icns { background: url(../images/top_strap_img.jpg) -1px -1px no-repeat; color: #fff; font-style: italic; margin: 5px 0 15px !important; float: left;}
.bg_img_of_icns a {font-family: 'Raleway-Light'; font-style: normal }


.pblctn_right_sid_mtr ul { float: left; padding-left: 0; list-style: none; }
.pblctn_right_sid_mtr li a { color: #4b4e53;}

.acrdn_pnl_cntnr { padding-left: 0 !important}

.main-menu {  background: #00529f; width: 100%; float: left }
.main-menu li { position: relative}
.sub-menu { background: #00529f; float: left; left: 0; width: 250px; position: absolute; z-index: 999; display: none; top: 39px; border-top: 1px solid #fff }
.sub-menu li { display: block; width: 100%; padding-left: 20px}
.sub-menu li a { font-size: 14px; padding: 8px 0 !important; width: 100%}
.main-menu li:hover .sub-menu { display: block}
.main-menu ul { margin-left: 15px; line-height: 23px}

.responsiv-menu { display: none; background: #00529f; float: left; border-top: 1px solid #00407C}
.responsiv-menu li, .responsiv-menu li a { width: 100% }
.responsiv-menu li { border-bottom: 1px solid #054480; border-top: 1px solid #095AA6;}
.responsiv-menu li:first-child { border-top: none}

.responsiv-menu .sub-menu { background: #014A8E; display: block; top: 0; border-top: none; position: relative; width: 100%; left: 0}
.responsiv-menu .sub-menu li { border-bottom: none; border-top: none; position: relative !important}
.responsiv-menu .sub-menu li a { padding: 8px 40px !important; }

.main-menu .sub-menu li, .responsiv-menu .sub-menu li { position: relative !important}
.main-menu .sub-menu li:first-child { margin-top: 5px}
.main-menu .sub-menu .sub-menu { posi tion: absolute !important; left: 235px; top: -6px; display: none !important; border-left: 1px solid #fff}
.main-menu .sub-menu li:hover .sub-menu { display: block !important}

.navi_icn { color: #fff; width: 100%; padding: 20px 0; display: none !important; background: #00529f; cursor: pointer }
.responsiv-menu li:last-child { border-bottom: none}

.bg_img_of_icns p { font-style: normal}

.link_dwnlds { float: left; width: 100%; margin-bottom: 20px}
.link_dwnlds > div { margin: 0 auto; width: 129px;}
.link_dwnlds a, .link_dwnlds a:hover, .link_dwnlds a:active, .link_dwnlds a:visited, .home_dwnld_btn a, .home_dwnld_btn a:hover, .home_dwnld_btn:active, .home_dwnld_btn a:visited { color: #fff !important; text-decoration: none}

.tlkt_rght_sid h3 { float: left; width: 76%; margin-right: 4%; padding-bottom: 5px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap}
.tlkt_rght_sid .link_dwnlds { width: auto; margin-bottom: 5px;}
.tlkt_rght_sid .btn_dwnld {  margin: 10px 0 0;}
.tlkt_rght_sid ul { float: left; width: 100%}

.border_top { border-top: 1px solid #ddd; padding-bottom: 10px}
.border_bottom { border-bottom: 1px solid #ddd; padding-top: 10px;}

.blue_textclr { color: #00529f}

.raleway_reg_font { font-family: 'Raleway-Regular' }
.raleway_lght_font { font-family: 'Raleway-Light' }
.raleway_smbold_font { font-family: 'Raleway-Semibold' }

.charis_bold_font { font-family: 'CharisSILB' }

.overflow { overflow: hidden}
.ssba img:hover { opacity: .8; transition: opacity .3s; -webkit-transition: opacity .3s; -moz-transition: opacity .3s}

/*---------------- Slider -----------------*/
.slideshow_slide.slideshow_slide_image img { float: right !important; width: 48% !important;}
.slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_image .slideshow_description_box { width: 48% !important; top: 20px; left: 15px;}
.slideshow_container .slideshow_view .slideshow_slide { border: 1px solid #9fbedb;}
.slideshow_container_style-light .slideshow_description_box div.slideshow_title,
.slideshow_container_style-light .slideshow_description_box div.slideshow_title a { font-family: 'Raleway-SemiBold'; text-align: left; color: #00529f; font-size: 40px !important; letter-spacing: 1.5px; line-height: 45px}
.slideshow_container_style-light .slideshow_transparent:hover, .slideshow_container_style-light .slideshow_transparent { opacity: 1 !important}
.slideshow_container_style-light .slideshow_description_box { background: none !important}
.slideshow_container_style-light .slideshow_description_box div.slideshow_description,
.slideshow_container_style-light .slideshow_description_box div.slideshow_description a { margin-left: 20px; text-align: left; font-size: 16px; line-height: 35px; margin-top: 20px; font-family: 'Raleway-Bold'; letter-spacing: .5px; color: #4b4e53}

.slideshow_container_style-light .slideshow_description_box div.slideshow_description a:hover,
.slideshow_container_style-light .slideshow_description_box div.slideshow_description a:focus,
.slideshow_container_style-light .slideshow_description_box div.slideshow_title a:hover,
.slideshow_container_style-light .slideshow_description_box div.slideshow_title a:focus { opacity: .9}

.slideshow_container_style-light .slideshow_description_box div { text-align: left !important}
.slideshow_container .slideshow_pagination { width: 50% !important}
.slideshow_container_style-light .slideshow_pagination ul li { background: url(../images/slider_pager.svg) 0 0 no-repeat !important; background-size: 22px 22px !important; width: 22px !important; height: 22px !important}
.slideshow_container_style-light .slideshow_pagination .slideshow_currentView { opacity: .5 !important}
.slideshow_container_style-light .slideshow_pagination { bottom: 50px !important; }

.hdr .col-md-11 { text-align: right}

/*---------------- Newsletter -----------------*/
.eemail_button { padding-left: 6px; float: left; margin-left: -1px;}
.eemail_textbox_button { background: #00529f; padding: 15px 0 14px; text-align: center; background: #e57200; border: 1px solid #CF6B08; color: #fff; font-family: 'Raleway-Regular';}
.eemail_textbox_button:hover, .eemail_textbox_button:focus { opacity: .9}
.eemail_textbox_class { width: 100% !important; padding: 12px 10px 14px;}

.eemail_textbox { float: left; width: 30%}

.eemail_textbox input { border: 1px solid #bbb; line-height: normal}
.eemail_textbox input:focus, .eemail_textbox input:hover { outline: none; border: 1px solid #999 }
.eemail_button input, .eemail_button input:hover, .eemail_button input:focus { outline: none;}

.wp-caption img { height: auto; width: 100%}

/*---------------- Default Page -----------------*/

h1,h2,h3 { font-family: 'Raleway-Semibold' !important }
h1,h3 { color: #00529f !important }
h4 { font-family: 'Raleway-Light' !important}

@media (min-width: 1200px){
	.container { width: 1140px !important;}
}

@media (max-width: 1200px){
	.soclize { padding-left: 0 !important;}
	.soclize .socl_icns { margin: 0 0 0 2px; }
	.tlkt_stp_vdo_cntnr .pblctn_vdo_bg { width: 32.8222% !important; }
	.hdr .col-xs-offset-2 { margin-left: 15px !important }
	.tlkt_rght_sid h3 { width: 72%; }
}
@media (max-width: 990px){
	.pblctn_right_sid_mtr { text-align: center}
	.pblctn_right_sid_mtr ul { width: 100%}
	.tlkt_stp_vdo_cntnr .pblctn_vdo_bg {width: 32.7222% !important;}
	.pblctn_scl_icns a:first-child { margin-left: 0}
	.hdr .col-md-7 img { width: 100%}
	.bnr_img img { width: 98%; margin-bottom: 15px}
	.sprtn_brdr { display: none}
	.rght_sid_mtr { padding-left: 0 !important}
	.vdo_bg { margin-left: 0}
	.navi_bg li a { padding: 8px 15px;}
	.pblctn_vdo_bg { margin-top: 30px}
	.lft_sid_mtr, .pblctn_lft_sid_img_cntnr, acrdn_pnl_cntnr { padding-right: 0 !important}
	.vdo_bg, .pblctn_vdo_bg  { width: 100% !important}

	.pblctn_right_sid_mtr .col-sm-6 {  width: 46.5%; margin-left: 5%}
	.pblctn_right_sid_mtr .col-sm-6:first-child { margin-left: 0}
	body { padding-top: 25px;}
	.lft_sid_mtr { margin-bottom: 15px;}
	.hdr .col-xs-offset-2 { margin-left: 0px !important; }
	.panel-group { width: 100%}

	.pblctn_right_sid_mtr .pblctn_scl_icns { height: 110px; width: 275px !important; margin: 0 auto; float: none !important;}

	.pblctn_lft_sid_img_cntnr .rght_sid_mtr { padding-right: 15px !important}
	.page-template-page-templatestoolkit-template-php .pblctn_right_sid_mtr .col-sm-6 {margin: 35px 1.7% 0}
	aside { float: left; width: 100%}

}

@media (max-width: 768px){
	.tlkt_stp_vdo_cntnr .pblctn_vdo_bg, .tlkt_stp_vdo_cntnr .pblctn_vdo_bg:first-child {width: 52% !important; float: none; margin: 0 0 15px}
	.soclize { margin-top: 0}
	.hdr .col-md-3 { margin-top: 20px; padding-left: 0}
	.hdr .col-md-12 { padding-left: 0}
	.navi_icn { display: block !important}
	.navi_bg ul { display: none}
	.navi_bg:hover { background: #034B8E }
	.navi_bg li a {padding: 10px 40px;}
	.navi_icn { display: block !important}

	.slideshow_container, .slideshow_container .slideshow_content { height: 320px !important}
	.slideshow_container_style-light .slideshow_description_box div.slideshow_description { height: 150px; overflow: hidden; line-height: 30px; margin-top: 10px;}
	.slideshow_container_style-light .slideshow_description_box div.slideshow_title { font-size: 30px !important; line-height: 35px;}

	.slideshow_container, .slideshow_container, .slideshow_container .slideshow_content { width: 100% !important}
	.container { width: 100% !important}
	.soclize .socl_icns {margin: 0;}

	.hdr .col-md-7 img { width: 100%}
	.tlkt_stp_cntnr_lft_sid { padding-right: 0 !important}

}
@media (max-width: 750px){
	.hdr .col-xs-offset-2  {margin-left: 16.66666667% !important;}
	.tlkt_rght_sid h3 { width: 70%}

}
@media (max-width: 715px){
	.stp_cntnr { text-align: center}
	.stp_cntnr .col-xs-2 { width: 100%; border-bottom: 1px solid #063E73;}
	.stp_cntnr .col-xs-2 h3 { width: 48%; text-align: right; margin-top: 25px}
	.stp_cntnr .col-xs-2 h1 { width: 48%; text-align: left; float: right; margin-top: 0; padding: 0 0 5px;}
	.stp_cntnr .col-xs-10 { width: 100%}

	.tlkt_rght_sid h3 { width: 100%; margin-right: 0; margin-top: 10px; padding-bottom: 10px; overflow: inherit; white-space: pre-line }

	.tlkt_rght_sid .link_dwnlds { width: 100%; }
	.tlkt_rght_sid .btn_dwnld { margin: 0px 0 5px}
}

@media (max-width: 600px){
	.tlkt_stp_vdo_cntnr .pblctn_vdo_bg, .tlkt_stp_vdo_cntnr .pblctn_vdo_bg:first-child {width: 65% !important;}
	.bg_img_of_icns .col-xs-8, .bg_img_of_icns .col-xs-4 { width: 100%;}
	.bg_img_of_icns .link_dwnlds > div { width: 100%}
	.bg_img_of_icns .link_dwnlds { margin-bottom: 0; }
	.btn_dwnld { margin: 5px 0 0}

	.hdr .col-xs-5 {width: 100%}
	.pblctn_lft_sid_img_cntnr .col-xs-4 img { width: auto}
	.pblctn_lft_sid_img_cntnr, .pblctn_lft_sid_img_cntnr .col-xs-12 { padding-right: 0 !important; padding-left: 0}
	.pblctn_lft_sid_img_cntnr .col-xs-4 { text-align: center}
	.pblctn_lft_sid_img_cntnr .col-xs-4, .pblctn_lft_sid_img_cntnr .col-xs-8 { width: 100%; padding-right: 0 !important}
	.page-template-page-templatespublication-template-php .pblctn_hed { text-align: center}
	.pblctn_scl_icns a { margin: 0 20px 0}

	.hdr .col-md-12, .hdr .col-md-3, .hdr .col-md-11 { text-align: center}
	.soclize .socl_icns, .rght_sid_socl_icn .socl_icns, .pblctn_box .socl_icns, .soclize a:first-child { float: none}
	.hdr .col-xs-offset-2 { margin-left: 0 !important }
	.pblctn_lft_sid_img_cntnr .col-xs-11 { width: 90% !important }

	.navi_bg li a { font-size: 15px}
	.sub-menu li a { font-size: 13px;}
	.bg_img_of_icns { padding-bottom: 20px}

	.slideshow_container_style-light .slideshow_pagination,
	.slideshow_slide.slideshow_slide_image img { width: 100% !important}
	.slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_image .slideshow_description_box { width: auto !important; top: 15px; left: 15px; bottom: 15px !important; right: 15px; background: rgba(255, 255, 255, 0.7) !important; padding: 16px; }
	.slideshow_container_style-light .slideshow_description_box div.slideshow_title,
	.slideshow_container_style-light .slideshow_description_box div.slideshow_title a { font-size: 30px !important; line-height: 36px;}
	.slideshow_container_style-light .slideshow_description_box div.slideshow_description,
	.slideshow_container_style-light .slideshow_description_box div.slideshow_description a { line-height: 22px; margin-top: 0 }

}
@media (max-width: 500px){
	.tlkt_stp_vdo_cntnr .pblctn_vdo_bg, .tlkt_stp_vdo_cntnr .pblctn_vdo_bg:first-child {width: 100% !important;}
	.pblctn_right_sid_mtr .col-xs-6 { width: 100% !important	}
	.pblctn_right_sid_mtr img, .pblctn_right_sid_mtr iframe { width: auto}
	.pblctn_right_sid_mtr .col-sm-6 { margin-left: 0}

	.ftr .col-xs-10, .ftr .col-xs-2 { width: 100%; text-align: center}
	.ftr_lnks li { width: 100%; text-align: center; padding: 10px 0; border-bottom: 1px solid #eee}
	.hdr { margin-bottom: 5px}
	.ftr_logo { margin: 10px 0}
}
@media (max-width: 400px){

	.lft_sid_mtr img, .rght_sid_mtr img { float: none}
	.rght_sid_mtr>.hdng_mtr, .hdng_mtr a { margin-top: 0;  }
	.rght_sid_mtr .rght_sid_mtr .btn_dwnld { margin: 0 2% 5px 0}
	/*.slideshow_container { display: none !important}*/
}
@media (max-width: 300px){

}
