/*
color palette:
	Dark Grey:       #4b4e53
	Dark Blue:       #294179
	Link Blue (508)  #2F5C99
	Light Grey:      #ccc
	Blue Grey:		 #94a0bc
	Pumpkin Orange:  #e57200
*/

body { padding-top: 15px; color: #000000 !important; font-family: 'Open Sans', sans-serif !important; font-size:15px; }
.soclize .socl_icns, .rght_sid_socl_icn .socl_icns, .pblctn_box .socl_icns { border-radius: 30px; }
.pblctn_box .socl_icns { background: #294179; font-size: 18px; padding: 6px 0; width: 50px; height: 50px; color: #fff; border: 5px solid #fff; text-align: center; display: flex; align-items: center; justify-content: center;}
.pblctn_box { width: 50px; margin: -40px auto 0}
.soclize .socl_icns { background: #4a4f55;  font-size: 12px; padding: 18px;  margin: 0 0 0 6px;}
.rght_sid_socl_icn { padding-left: 0 !important}
.rght_sid_socl_icn .socl_icns { font-size: 7px;  padding: 12px;  margin: 0 5px 0 0;}
.rght_sid_socl_icn .fa-google-plus {font-size: 13px !important; font-weight: bold;}
.twtr_icn { background: url(../images/social_icn.png) 7px 0 no-repeat}
.fb_icn { background: url(../images/social_icn.png) -41px 0 no-repeat}
.youtube_icn { background: url(../images/social_icn.png) -87px 0 no-repeat}
.gplus_icn { background: url(../images/social_icn.png) -132px 0 no-repeat}
.mail_icn { background: url(../images/social_icn.png) -176px 0 no-repeat}
.hdr { margin-bottom: 5px}
.hdr .col-md-12, .hdr .col-md-3, .hdr .col-md-11 { padding-right: 0 !important}
.hdr .col-md-7 { padding-left: 0 !important}
#header_logo {max-width:620px; max-height:142;}
.top_strp_img { float: left; background: url(../images/top_strap_img.png) 0 0 no-repeat}
.top_strp { overflow: hidden; background: url(../images/top_strap_img.png) 0 0 no-repeat; height: 55px}
.navi_bg ul { padding: 0; margin-bottom: 0}
.navi_bg li, .ftr_lnks li { display: inline; float: left; font-family: 'Open Sans', sans-serif; font-weight: 600;}
.navi_bg li a {color: #fff; font-size: 16px; padding: 8px 18px; float: left}
.navi_bg li a:focus { outline: none;}
.ftr_lnks li { font-size: 13px; padding: 13px 35px 13px 0;}
.ftr_lnks ul { padding: 0 !important}
.ftr_lnks { padding-left: 0 !important; padding-right:0 !important;}
.ftr_lnks li a { color: #555}
.form-control-feedback { top: 1px !important; cursor: pointer}
.form-control-feedback:hover { opacity: .6}
.form-control { background: #f2f2f2 !important; height: 40px !important; box-shadow: none !important}
.border_blue { border: 1px solid #94a0bc; margin-top: 12px; border-radius: 3px; margin-bottom: 20px}
.border_blue h1 { font-family: 'Work Sans', sans-serif !important; font-weight: 600; color: #294179; font-size: 40px !important; letter-spacing: 1.5px}
.pblctn_hed { font-family: 'Work Sans', sans-serif !important; font-weight: 600; color: #294179; margin-bottom: 20px;}
.bnr_img img { width: 100.2% }
.bnr_img { padding-right: 0 !important }
.border_blue p { margin-left: 20px; font-size: 16px; line-height: 35px; margin-top: 20px; font-family: 'Work Sans', sans-serif; letter-spacing: .5px; font-weight:bold; }
.hdng_mtr, .hdng_mtr a { font-size: 19px; color: #E57200; font-family: 'Work Sans', sans-serif !important; font-weight: bold; line-height:26px;}
.hdng_mtr a:hover { cursor: pointer; }
/*.rght_sid_mtr>.hdng_mtr, .hdng_mtr a { font-size: 13px; margin-bottom: 0; margin-top: 40px}*/
.rght_sid_mtr>.hdng_mtr, .hdng_mtr a { margin-bottom: 0; padding-bottom:5px; }
.pblctn_right_sid_mtr .hdng_mtr { font-size: 13px; margin-bottom: 0; border-top: 1px solid #ccc; padding-top: 10px; width: 100%; margin-top: 5px}
.pblctn_right_sid_mtr .hdng_mtr:first-child { border-top: none; margin-top: 0}
.oet-recommended-resources-block h3.pblctn_scl_icn_hedng { font-size:20px; }
/*
.rght_mtr { font-size: 12px}
.rght_mtr a, .rght_mtr a:hover { color: #4b4e53 }
*/
.oet_2column_layout .rght_sid_mtr>.hdng_mtr { margin-bottom:10px; }
.oet_2column_layout .rght_sid_mtr>h4.hdng_mtr { border-bottom: none; padding-bottom: 0; }

.lft_sid_mtr { padding-left: 0 !important; margin-bottom: 30px; position: relative}
.lft_sid_mtr img, .rght_sid_mtr img { float: left; margin: 0 25px 25px 0}
.lft_sid_mtr h3:first-child, .rght_sid_mtr h3:first-child, .oet_2column_layout h3:first-child { margin-bottom: 15px; padding-bottom: 5px; font-size: 20px; font-weight: bold; color: #294179; font-family: 'Work Sans', sans-serif !important; font-weight: bold; line-height: 23px; }
.oet_2column_layout .rght_sid_mtr { padding-left:0; }
.lft_sid_mtr h3, .rght_sid_mtr h3,.oet_2column_layout h3 { border-bottom: 1px solid #ccc; margin-bottom: 15px; padding-bottom: 5px; font-size: 19px; color: #294179; font-family: 'Work Sans', sans-serif !important; font-weight: 400 !important; line-height: 23px; }
.lft_sid_mtr p, .rght_sid_mtr p {  margin: 0 0 10px}
.date { font-family: 'Work Sans', sans-serif !important; font-weight: bold; font-size: 13px}
.sprtn_brdr { position: absolute; top: 80px; bottom: 35px; width: 1px; background: #ddd; right: 0}

.rght_sid_mtr { padding-right: 0 !important; margin-bottom: 30px}
.rght_sid_mtr .rght_sid_mtr .btn_dwnld { width: auto; padding: 5px 20px; margin: 0 0 5px; }
.home_dwnld_btn a, .home_dwnld_btn a:hover { color: #fff}

.vdo_bg { background: #f2f2f2; border: 1px solid #ccc; padding: 0 !important; width: 98% !important;}
.pblctn_vdo_bg { background: #f2f2f2; border: 1px solid #ccc; padding: 0 !important; border-radius: 5px}
.vdo_bg img, .vdo_bg iframe { margin: 0; width: 100%;	}
.pblctn_vdo_bg img, .pblctn_vdo_bg iframe { width: 100%}
iframe { border: 0;  max-width:100%; }
.pblctn_vdo_bg_fr_two { background: #f2f2f2; border: 1px solid #ccc; padding: 0 !important; border-radius: 5px; width: 49% !important; margin-left: 2%;}
.pblctn_vdo_bg_fr_two img, .pblctn_vdo_bg_fr_two iframe { width: 100%}
.pblctn_vdo_bg_fr_two:first-child { margin-left: 0}
.pblctn_vdo_bg_fr_two p { margin: 14px; font-size: 15px;}

.tlkt_stp_vdo_cntnr .pblctn_vdo_bg img {padding: 0; height: auto}
.tlkt_stp_vdo_cntnr { margin-top: 10px}
.tlkt_stp_vdo_cntnr .pblctn_vdo_bg { margin-left: 5px; width: 32.9222% !important}
.tlkt_stp_vdo_cntnr .pblctn_vdo_bg a { float: left; height: 160px; overflow: hidden; margin-bottom: 20px;}
.tlkt_stp_vdo_cntnr .pblctn_vdo_bg:first-child { margin-left: 0}

.vdo_bg p, .pblctn_vdo_bg p { font-size: 15px;}
.vdo_bg p { margin: 20px; }
.pblctn_vdo_bg p { margin: 14px; }
#content b, #content strong { font-family: 'Open Sans', sans-serif; font-weight: bold; }

.ftr_strp { height: 25px; margin-top: 30px}
.ftr { border-bottom: 1px solid #ccc; margin-bottom: 10px;}
.ftr_logo { padding-left: 0 !important; padding-right: 0 !important;}
.fa-envelope, .fa-youtube, .fa-medium-m, .fa-facebook-f, .fa-twitter { font-size: 20px !important}
.soclize a { color: #fff; text-decoration: none}
.soclize a:hover,
.soclize a:focus{text-decoration: none}
.soclize a:focus .socl_icns,
.soclize .socl_icns:hover { background: #f2f2f2; transition: background .3s}
.soclize a:hover,
.soclize a:focus{ color: #4a4f55; transition: color .3s}
.soclize { margin-top: 28px}
.rght_sid_socl_icn a, .pblctn_scl_icns a { color: #294179}
.rght_sid_socl_icn a:hover, .pblctn_scl_icns a:hover { color: #3493f1}


.pblctn_scl_icns a, .story_scl_icns a,  { margin: 0 8% 0}
.pblctn_scl_icn_hedng, .story_scl_icn_hedng  { font-size: 15px; border-bottom: 1px solid #ccc; padding-bottom: 5px; margin-bottom: 0; font-family: 'Work Sans', sans-serif; font-weight: 300; margin-top: 30px}
.dbl_coad_sign { font-size: 25px; color: #e57200}

.pblctn_box_icns { background: #444}
.pblctn_right_sid_mtr { padding: 0 !important; margin-bottom:30px; }
.pblctn_right_sid_mtr img, .pblctn_right_sid_mtr iframe { width: 100%; margin: 7px 0}
.pblctn_right_sid_mtr span img  { width: auto; margin-right: 4px}
.pblctn_right_sid_mtr .col-md-12 { margin-top: 35px; border: 1px solid #94a0bc; padding: 20px;}
.pblctn_right_sid_mtr p { float: left; width: 100%; overflow-wrap:break-word; }
.padding_left { padding-left: 0 !important}
.padding_right { padding-right: 0 !important}
.col-md-9 .col-md-3 img { width: 100%}

.pblctn_lft_sid_img_cntnr .col-md-3{ text-align: center}
.pblctn_lft_sid_img_cntnr .rght_sid_mtr { padding-left: 0 !important}
.pblctn_lft_sid_img_cntnr .padding_left.col-md-3 img { width:100%; }
.btn_dwnld {width: 129px; font-size:14pt; padding: 10px 0; margin: 15px 0 0; text-align: center; background: #e57200; border: none; color: #fff; border-radius: 3px; cursor: pointer; float: left; font-family: 'Work Sans', sans-serif; font-weight: 600;}
.btn_dwnld:hover, .btn_dwnld:focus, .home_dwnld_btn a.btn_dwnld:hover, .home_dwnld_btn:active { opacity: .9; color:#294179 !important; }
.link_dwnlds a, .link_dwnlds a:hover { color: #fff; text-decoration: none}
.pblctn_scl_icns { height: 50px	}
.story_scl_icns { margin-bottom: 18px; }

.panel-group { float: left; margin: 30px 0 20px; width: 100%}
.panel-default>.panel-heading { background: none !important;}
.panel-default>.panel-heading+.panel-collapse>.panel-body { line-height: 23px}
.panel-heading { padding: 5px 15px 46px !important}
.panel-title>a { color: #294179 !important; font-family: 'Work Sans', sans-serif; font-weight: bold; float: left; width: 100%; background: url(../images/pls_mns_img.png) right -221px no-repeat; padding: 17px 0; text-overflow: unset; overflow: hidden; white-space: pre-wrap; padding-right: 50px; line-height: 1.25em; }
.panel-title>a:focus { outline: none}
.panel-title>a.collapsed { background: url(../images/pls_mns_img.png) right 9px no-repeat }
.panel-group .panel+.panel { margin-top: 10px !important}
.panel-title { line-height: 6px}

.pblctn_scl_icns .fa-envelope, .pblctn_scl_icns .fa-youtube-play, .pblctn_scl_icns .fa-google-plus { font-size: 25px !important}
.pblctn_scl_icns .fa-google-plus { font-weight: bold}
.blog_mtr { color: #294179; font-family: 'Work Sans', sans-serif; font-weight: normal; font-style: italic; font-size: 20px; line-height: 30px; margin: 0 0 15px;}
blockquote { border-left: none !important; font-size: auto !important; padding: 0 !important;}
.blog_date { margin: 0 0 30px; font-size: 16px }
.blog_athr { font-size: 16px; margin:0; font-family: 'Open Sans', sans-serif; font-weight: bold; }
.blog_date, .panel-default>.panel-heading+.panel-collapse>.panel-body {  }
.pblctn_paramtr { letter-spacing: .5px; line-height: 25px;}
.pblctn_paramtr ul { margin-bottom: 25px}
.rght_sid_wdgt_hedng { font-family: 'Work Sans', sans-serif !important; font-weight: bold; font-size: 17px !important}
.pblctn_right_sid_mtr p{ margin: 0 0 10px}
.meta_date { font-family: 'Work Sans', sans-serif; font-weight: bold; margin: -19px 0 10px; float: left; text-align: center; width: 100%; }
.brdr_mrgn_none { border-top: none !important; margin: 0 !important}

.stp_cntnr { background: #294179; color: #fff; margin-bottom: 20px;}
.stp_cntnr a { color: #fff;}
.stp_cntnr a:hover { color: #bbb; text-decoration: none}
.stp_cntnr h1, .stp_cntnr h3 { font-family: 'Work Sans', sans-serif; font-weight: bold; font-style: italic}
.tlkt_lft_sid h1, .tlkt_lft_sid h3 { float: left;}

.tlkt_lft_sid h1 { color: #e57200 !important; font-size: 60px; margin: 0 0 5px }
.tlkt_lft_sid h3 { color: #fff !important;  }
.tlkt_rght_sid h3 { color: #fff !important; border-bottom: 1px solid #677f96; letter-spacing: .5px}
.stp_cntnr li { list-style: none; margin-bottom: 5px}
.stp_cntnr li span { margin-right: 7px}
.stp_cntnr ul { padding-left: 0; font-size: 15px}
.btm_lnk_blustrp a { color: #e57200; }
.btm_lnk_blustrp a:hover, .btm_lnk_blustrp a:focus { color: #F58516}
.btm_lnk_blustrp { text-align: center; font-family: 'Open Sans', sans-serif; font-weight: bold; font-size: 18px; margin: 20px 0 70px}
.story_right_sid_mtr>.pblctn_scl_icn_hedng, .pblctn_right_sid_mtr>.story_scl_icn_hedng { font-family: 'Work Sans', sans-serif; font-weight: 300; margin-top: 25px}

.bg_img_of_icns h3 { color: #fff !important}
.bg_img_of_icns .btn_dwnld, .bg_img_of_icns .link_dwnlds { margin-top: 0; margin-bottom: 0}
.bg_img_of_icns { background:#294179; color: #fff; font-style: italic; margin: 5px 0 15px !important; float: left;}
.bg_img_of_icns a, .bg_img_of_icns a:hover { color:#fff; }
.row.bg_img_of_icns { width:100%; float:none; overflow:hidden; position:relative;}
.row.bg_img_of_icns .link_dwnlds_wrapper {padding-left: 66.6%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px; vertical-align: middle;}
.sidebar-medium-post { margin:30px 0 0; }
.sidebar-medium-post .single-medium {
	padding:0;
	border:none;
	margin-top:0;
}
.pblctn_right_sid_mtr .sidebar-medium-post p { float:none; }
.sidebar-medium-post .single-medium .medium .medium-background .medium-wrapper p.mfooter { width:200px; }
.sidebar-medium-post .single-medium .medium .medium-background .medium-wrapper p.mfooter img {
	width:auto; margin:0;
}
@media (max-width: 601px){
	.row.bg_img_of_icns .link_dwnlds_wrapper {position: relative !important; float: left !important; padding: 5px 15px !important;}
}
.bg_img_of_icns a { font-family: 'Work Sans', sans-serif; font-weight: 300; font-style: normal }


.pblctn_right_sid_mtr ul { float: left; padding-left: 0; list-style: none; }
/* .pblctn_right_sid_mtr li a { color: #4b4e53;} */

.acrdn_pnl_cntnr { padding-left: 0 !important}

.main-menu {  background: #294179; width: 100%; float: left }
.main-menu li { position: relative}
.sub-menu { background: #294179; float: left; left: 0; width: 250px; position: absolute; z-index: 999; display: none; top: 39px; border-top: 1px solid #fff }
.sub-menu li { display: block; width: 100%; padding-left: 20px; padding-right:5px; }
.sub-menu li a { font-size: 14px; padding: 8px 0 !important; width: 100%}
.main-menu li:hover .sub-menu { display: block}
.main-menu ul { margin-left: 15px; line-height: 23px}

.responsiv-menu { display: none; background: #294179; float: left; border-top: 1px solid #00407C}
.responsiv-menu li, .responsiv-menu li a { width: 100% }
.responsiv-menu li { border-bottom: 1px solid #294179; border-top: 1px solid #f5f5f5;}
.responsiv-menu li:first-child { border-top: none}

.responsiv-menu .sub-menu { background: #294179; display: block; top: 0; border-top: none; position: relative; width: 100%; left: 0}
.responsiv-menu .sub-menu li { border-bottom: none; border-top: none; position: relative !important}
.responsiv-menu .sub-menu li a { padding: 8px 40px !important; }

.main-menu .sub-menu li, .responsiv-menu .sub-menu li { position: relative !important}
.main-menu .sub-menu li:first-child { margin-top: 5px}
.main-menu .sub-menu .sub-menu { posi tion: absolute !important; left: 235px; top: -6px; display: none !important; border-left: 1px solid #fff}
.main-menu .sub-menu li:hover .sub-menu { display: block !important}

.navi_icn { color: #fff; width: 100%; padding: 20px 0; display: none !important; background: #294179; cursor: pointer }
.responsiv-menu li:last-child { border-bottom: none}

.bg_img_of_icns p { font-style: normal}

.link_dwnlds {display: table; height: 100%;}
.link_dwnlds { float: left; width: 100%; margin-bottom: 20px}
.link_dwnlds > div { margin: 0 auto; display: table-cell; vertical-align: middle; text-align: center;}
.link_dwnlds a, .link_dwnlds a:hover, .link_dwnlds a:active, .link_dwnlds a:visited, .home_dwnld_btn a, .home_dwnld_btn a:hover, .home_dwnld_btn:active, .home_dwnld_btn a:visited { color: #fff !important; text-decoration: none; font-size: 14pt;font-weight: bold;padding: 10px 0;}
.link_dwnlds a {display:block; float:none; margin:0px auto; margin-top:15px !important;}
a.btn_dwnld:hover, a.btn_dwnld:focus { opacity: 1 !important; color: #333 !important; }

.tlkt_rght_sid h3 { float: left; width: 76%; margin-right: 4%; padding-bottom: 5px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap}
.tlkt_rght_sid .link_dwnlds { width: auto; margin-bottom: 5px;}
.tlkt_rght_sid .btn_dwnld {  margin: 10px 0 0;}
.tlkt_rght_sid ul { float: left; width: 100%}

.border_top { border-top: 1px solid #ddd; padding-bottom: 10px}
.border_bottom { border-bottom: 1px solid #ddd; padding-top: 10px;}

.blue_textclr { color: #294179}

.raleway_reg_font { font-family: 'Work Sans', sans-serif;  }
.raleway_lght_font { font-family: 'Work Sans', sans-serif; font-weight: 300; }
.raleway_smbold_font { font-family: 'Work Sans', sans-serif; font-weight: 600; }

.charis_bold_font { font-family: 'Open Sans', sans-serif; font-weight: bold; }

.overflow { overflow: hidden}
.ssba img:hover { opacity: .8; transition: opacity .3s; -webkit-transition: opacity .3s; -moz-transition: opacity .3s}
.stry_srch_frm  input[type="submit"] { font-family: 'Work Sans', sans-serif; }
.sldr_readmr_btn a { font-family: 'Work Sans', sans-serif; font-weight: 600; }
.sldr_top_hdng { font-family: 'Work Sans', sans-serif; font-weight: bold; }
.stry_srch_frm .showallstories { font-family: 'Work Sans', sans-serif; }
.topic_sidebar li a { font-family: 'Work Sans', sans-serif; }
.blubrdr h4{ font-family: 'Work Sans', sans-serif; font-weight: 600; }
.story_back a { font-family: 'Work Sans', sans-serif; font-weight: 300; }
.stry_browse_header { font-family: 'Work Sans', sans-serif; font-weight: bold; }
.btn_dwnld { font-family: 'Work Sans', sans-serif; font-weight: 600; }
.btn_dwnld:hover { color:#2A4378; }

/*---------------- Slider -----------------*/
.slideshow_slide.slideshow_slide_image img { float: right !important; width: 48% !important;}
.slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_image .slideshow_description_box { width: 48% !important; top: 20px; left: 15px;}
.slideshow_container .slideshow_view .slideshow_slide { border: 1px solid #94a0bc;}
.slideshow_container_style-light .slideshow_description_box div.slideshow_title,
.slideshow_container_style-light .slideshow_description_box div.slideshow_title a { font-family: 'Work Sans', sans-serif; font-weight: 600; text-align: left; color: #294179; font-size: 40px !important; letter-spacing: 1.5px; line-height: 45px}
.slideshow_container_style-light .slideshow_transparent:hover, .slideshow_container_style-light .slideshow_transparent { opacity: 1 !important}
.slideshow_container_style-light .slideshow_description_box { background: none !important}
.slideshow_container_style-light .slideshow_description_box div.slideshow_description,
.slideshow_container_style-light .slideshow_description_box div.slideshow_description a { margin-left: 20px; text-align: left; font-size: 16px; line-height: 35px; margin-top: 20px; font-family: 'Work Sans', sans-serif; font-weight: 600; letter-spacing: .5px; color: #4b4e53}

.slideshow_container_style-light .slideshow_description_box div.slideshow_description a:hover,
.slideshow_container_style-light .slideshow_description_box div.slideshow_description a:focus,
.slideshow_container_style-light .slideshow_description_box div.slideshow_title a:hover,
.slideshow_container_style-light .slideshow_description_box div.slideshow_title a:focus { opacity: .9}

.slideshow_container_style-light .slideshow_description_box div { text-align: left !important}
.slideshow_container .slideshow_pagination { width: 50% !important}
.slideshow_container_style-light .slideshow_pagination ul li { background: url(../images/slider_pager.svg) 0 0 no-repeat !important; background-size: 22px 22px !important; width: 22px !important; height: 22px !important}
.slideshow_container_style-light .slideshow_pagination .slideshow_currentView { opacity: .5 !important}
.slideshow_container_style-light .slideshow_pagination { bottom: 50px !important; }

.hdr .col-md-11 { text-align: right}

/*---------------- Newsletter -----------------*/
.eemail_button { padding-left: 6px; float: left; margin-left: -1px;}
.eemail_textbox_button { background: #294179; padding: 15px 0 14px; text-align: center; background: #e57200; border: 1px solid #CF6B08; color: #fff; font-family: 'Work Sans', sans-serif; font-size:14pt; font-weight:bold;}
.eemail_textbox_button:hover, .eemail_textbox_button:focus { opacity: .9; color:#2A4378;}
.eemail_textbox_class { width: 100% !important; padding: 12px 10px 14px;}

.eemail_textbox { float: left; width: 30%}

.eemail_textbox input { border: 1px solid #bbb; line-height: normal}
.eemail_textbox input:focus, .eemail_textbox input:hover { outline: none; border: 1px solid #999 }
.eemail_button input, .eemail_button input:hover, .eemail_button input:focus { outline: none;}

.wp-caption img { height: auto; width: 100%}

/*---------------- Default Page -----------------*/

h1,h2,h3 { font-family: 'Work Sans', sans-serif !important; font-weight: 600 !important; }
h1,h3 { color: #294179 !important }
h1 {font-size:30px !important;}
h4 { font-family: 'Work Sans', sans-serif !important; font-weight: 300 !important; }
.search-results article { overflow:hidden; }
.medium-error .panel-heading { padding:10px 15px !important; }
.medium-error .panel-primary { padding-left:0; padding-right:0; }

/** dynamic sidebar styles **/
.pblctn_right_sid_mtr .sdbr_img_cntnt,
.pblctn_right_sid_mtr .sidebar-youtube-video{ border-top:1px solid #ccc; width:100%; overflow:hidden; margin-top:10px !important; padding-top:10px; }
.pblctn_right_sid_mtr .hdng_mtr { font-size:19px; }
.youtube-videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0;
	height: 0;
}
.youtube-videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.youtube-videoWrapper .video-container {
	overflow:visible;
	width:100%;
}
.sidebar-story-post .story-embed-box { margin-top:0; border:none; padding:0; }
button {
	background: #e57200;
    padding: 10px;
    color: #ffffff;
    text-align:center;
    cursor:pointer;
    font-size:14pt;
    font-weight:bold;
}
button:hover {
	color:#2A4378;
}
#map_canvas img { margin:0; }
#map_canvas .gmnoprint .gm-style-mtc div[role='button'] { font-size:16px !important; }
#map_canvas .gm-style .gm-style-mtc span[role='checkbox'] { vertical-align:top !important; margin:0;padding:0; display:inline; }
#map_canvas .gm-style .gm-style-mtc label { margin-bottom: 0; margin-top: 3px;}
.search-results h1.page-title { font-size:20px !important; }
.search-results h1.page-title span { font-style:italic; }
/** end of dynamic sidebar styles **/

.pblctn_right_sid_mtr .oet-sidebar-section-html ul { list-style:disc; padding-left:25px; }
#searchform input.form-control::placeholder {
	color:#6E6E6E;
}
#searchform input.form-control::selection {
	background-color:#bedfff;
	color:#444444;
}
@media (min-width: 1200px){
	.container { width: 1140px !important;}
	.mobile-search-btn {display:none;}
}

@media (max-width: 1200px){
	.soclize { padding-left: 0 !important;}
	.soclize .socl_icns { margin: 0 0 0 2px; }
	.tlkt_stp_vdo_cntnr .pblctn_vdo_bg { width: 32.8222% !important; }
	.hdr .col-xs-offset-2 { margin-left: 15px !important }
	.tlkt_rght_sid h3 { width: 72%; }
	.mobile-search-btn {display:none;}
}
@media (max-width: 990px){
	.pblctn_right_sid_mtr { text-align: center}
	.pblctn_right_sid_mtr ul { width: 100%}
	.tlkt_stp_vdo_cntnr .pblctn_vdo_bg {width: 32.7222% !important;}
	.pblctn_scl_icns a:first-child { margin-left: 0}
	.hdr .col-md-7 img { width: 100%}
	.bnr_img img { width: 98%; margin-bottom: 15px}
	.sprtn_brdr { display: none}
	.rght_sid_mtr { padding-left: 0 !important}
	.vdo_bg { margin-left: 0}
	.navi_bg li a { padding: 8px 15px;}
	.pblctn_vdo_bg { margin-top: 30px}
	.lft_sid_mtr, .pblctn_lft_sid_img_cntnr, acrdn_pnl_cntnr { padding-right: 0 !important}
	.vdo_bg, .pblctn_vdo_bg  { width: 100% !important}

	.pblctn_right_sid_mtr .col-sm-6 {  width: 46.5%; margin-left: 5%}
	.pblctn_right_sid_mtr .col-sm-6:first-child { margin-left: 0}
	body { padding-top: 8px;}
	.lft_sid_mtr { margin-bottom: 15px;}
	.hdr .col-xs-offset-2 { margin-left: 0px !important; }
	.panel-group { width: 100%}

	.pblctn_right_sid_mtr .pblctn_scl_icns { height: 110px; width: 275px !important; margin: 0 auto; float: none !important;}

	.pblctn_lft_sid_img_cntnr .rght_sid_mtr { padding-right: 15px !important}
	.page-template-page-templatestoolkit-template-php .pblctn_right_sid_mtr .col-sm-6 {margin: 35px 1.7% 0}
	aside { float: left; width: 100%}
        .slideshow_container_style-light .slideshow_description_box div.slideshow_title,
        .slideshow_container_style-light .slideshow_description_box div.slideshow_title a {
            font-size: 28px !important;
            line-height: 1.15em;
        }
        .slideshow_container_style-light .slideshow_description_box div.slideshow_description,
        .slideshow_container_style-light .slideshow_description_box div.slideshow_description a {
            margin-left: 0;
            margin-top: 5px;
            font-size: 14px;
            line-height:1.5em !important;
        }
        .slideshow_container_style-light .slideshow_pagination { bottom: 25px !important; }
}

@media (max-width: 768px){
	.tlkt_stp_vdo_cntnr .pblctn_vdo_bg, .tlkt_stp_vdo_cntnr .pblctn_vdo_bg:first-child {width: 52% !important; float: none; margin: 0 0 15px}
	.soclize { margin-top: 0}
	.hdr .col-md-3 { margin-top: 8px; padding-left: 0}
	.hdr .col-md-12 { padding-left: 0}
	.navi_icn { display: block !important}
	.navi_bg ul { display: none}
	.navi_bg:hover { background: #034B8E }
	.navi_bg li a {padding: 10px 40px;}
	.navi_icn { display: block !important}

	.slideshow_container, .slideshow_container .slideshow_content { height: 250px !important}
	.slideshow_container_style-light .slideshow_description_box div.slideshow_description { height: 150px; overflow:hidden; line-height: 30px; margin-top: 10px;}
	.slideshow_container_style-light .slideshow_description_box div.slideshow_title { font-size: 30px !important; line-height: 35px;}

	.slideshow_container, .slideshow_container, .slideshow_container .slideshow_content { width: 100% !important}
	.container { width: 100% !important}
	.top_strp { overflow: hidden; height: 18px}
	.soclize .socl_icns {margin: 0;}

	.hdr .col-md-7 img { width: 100%}
	.tlkt_stp_cntnr_lft_sid { padding-right: 0 !important}
        .pull-out-box.col-xs-12.pull-right{
            margin:30px 0;
            float:none !important;
        }
        .pull-out-box.col-xs-12 { margin:30px 0; float:none !important; }
        .slideshow_container_style-light .slideshow_description_box div.slideshow_title,
        .slideshow_container_style-light .slideshow_description_box div.slideshow_title a {
            font-size: 26px !important;
            line-height: 1.15em;
        }
        .slideshow_container_style-light .slideshow_description_box div.slideshow_description,
        .slideshow_container_style-light .slideshow_description_box div.slideshow_description a {
            margin-left: 0;
            margin-top: 5px;
            font-size: 13px;
            line-height:1.5em !important;
        }
        .slideshow_container_style-light .slideshow_pagination { bottom: 25px !important; }
        img { max-width:100%; }
}
@media (max-width: 750px){
	.hdr .col-xs-offset-2  {margin-left: 16.66666667% !important;}
	.tlkt_rght_sid h3 { width: 70%}
        .slideshow_container, .slideshow_container .slideshow_content { height: 240px !important}

}
@media (max-width: 715px){
	.stp_cntnr { text-align: center}
	.stp_cntnr .col-xs-2 { width: 100%; border-bottom: 1px solid #063E73;}
	.stp_cntnr .col-xs-2 h3 { width: 48%; text-align: right; margin-top: 25px}
	.stp_cntnr .col-xs-2 h1 { width: 48%; text-align: left; float: right; margin-top: 0; padding: 0 0 5px;}
	.stp_cntnr .col-xs-10 { width: 100%}

	.tlkt_rght_sid h3 { width: 100%; margin-right: 0; margin-top: 10px; padding-bottom: 10px; overflow: inherit; white-space: pre-line }

	.tlkt_rght_sid .link_dwnlds { width: 100%; }
	.tlkt_rght_sid .btn_dwnld { margin: 0px 0 5px}
        .slideshow_container, .slideshow_container .slideshow_content { height: 220px !important}
}

@media (max-width: 600px){
	.tlkt_stp_vdo_cntnr .pblctn_vdo_bg, .tlkt_stp_vdo_cntnr .pblctn_vdo_bg:first-child {width: 65% !important;}
	.bg_img_of_icns .col-xs-8, .bg_img_of_icns .col-xs-4 { width: 100%;}
	.bg_img_of_icns .link_dwnlds > div { width: 100%}
	.bg_img_of_icns .link_dwnlds { margin-bottom: 0; }
	.btn_dwnld { margin: 5px 0 0}

	.hdr .col-xs-5 {width: 100%}
	.pblctn_lft_sid_img_cntnr .col-xs-4 img { width: auto}
	.pblctn_lft_sid_img_cntnr, .pblctn_lft_sid_img_cntnr .col-xs-12 { padding-right: 0 !important; padding-left: 0}
	.pblctn_lft_sid_img_cntnr .col-xs-4 { text-align: center}
	.pblctn_lft_sid_img_cntnr .col-xs-4, .pblctn_lft_sid_img_cntnr .col-xs-8 { width: 100%; padding-right: 0 !important}
	.page-template-page-templatespublication-template-php .pblctn_hed { text-align: center}
	.pblctn_scl_icns a { margin: 0 20px 0}

	.hdr .col-md-12, .hdr .col-md-3, .hdr .col-md-11 { text-align: center}
	.soclize .socl_icns, .rght_sid_socl_icn .socl_icns, .pblctn_box .socl_icns, .soclize a:first-child { float: none}
	.hdr .col-xs-offset-2 { margin-left: 0 !important }
	.pblctn_lft_sid_img_cntnr .col-xs-11 { width: 90% !important }

	.navi_bg li a { font-size: 15px}
	.sub-menu li a { font-size: 13px;}
	.bg_img_of_icns { padding-bottom: 20px}

	.slideshow_container_style-light .slideshow_pagination,
	.slideshow_slide.slideshow_slide_image img { width: 100% !important; opacity:0.5; }
	.slideshow_container .slideshow_view .slideshow_slide.slideshow_slide_image .slideshow_description_box { width: auto !important; top: 15px; left: 15px; bottom: 15px !important; right: 15px; background:rgb(255,255,255);background: rgba(255, 255, 255, 0.7) !important; -pie-background: rgba(255, 255, 255, 0.8) !important; filter: alpha(opacity=80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; padding: 16px; }
	.slideshow_container_style-light .slideshow_description_box div.slideshow_title,
	.slideshow_container_style-light .slideshow_description_box div.slideshow_title a { font-size: 28px !important; line-height: 32px;opacity:1 !important;}
	.slideshow_container_style-light .slideshow_description_box div.slideshow_description,
	.slideshow_container_style-light .slideshow_description_box div.slideshow_description a { line-height: 25px; margin-top: 0; opacity:1 !important; margin-left:0; font-size:14px; }
        .navi_bg:hover { background:none; }
        .navi_bg { border-top:none;margin-top: -10px; margin-right: -10px; }
        .hdr { position:relative;}
        .navi_icn { width:16%; float:right;margin-top:-2px; }
        .soclize { width:75% !important; position:absolute; }
        .form-group.gray_bg {
           width: 55%;
           position: absolute;
           left: 25%;

        }
        .mobile-search-btn {
					padding: 4px 3px;
					line-height: 20px;
					font-size: 16px;
					color: #ffffff;
					background: #294179;
					right: 18%;
					width: 16%;
					top: -7px;
					position: absolute;
					display:inline;
    	}
        .navi_icn { float:right; margin-top:-48px; }
        .navi_bg { border-top:none;margin-top: -10px; margin-right: -10px; }
        .soclize { width:35% !important; position:absolute; }
        .hdr { position:relative; margin-bottom:50px !important;}
        .form-group.gray_bg {
            position: absolute;
            left: 0;
            width:100%;
            margin-top:45px;
            display:none;
        }
        .form-group.gray_bg .form-control-feedback {
            right: 2%;
        }
        .top_strp { margin-top:0px; }
        .soclize .socl_icns { padding:16px; }
        .fa-stack-2x { font-size:1.65em !important }
}
@media (max-width: 525px){
	.tlkt_stp_vdo_cntnr .pblctn_vdo_bg, .tlkt_stp_vdo_cntnr .pblctn_vdo_bg:first-child {width: 100% !important;}
	.pblctn_right_sid_mtr .col-xs-6 { width: 100% !important	}
	.pblctn_right_sid_mtr img, .pblctn_right_sid_mtr iframe { width: auto}
	.pblctn_right_sid_mtr .col-sm-6 { margin-left: 0}

	.ftr .col-xs-10, .ftr .col-xs-2 { width: 100%; text-align: center}
	.ftr_lnks li { width: 100%; text-align: center; padding: 10px 0; border-bottom: 1px solid #eee}
	.hdr { margin-bottom: 5px}
	.ftr_logo { margin: 10px 0}

    .navi_icn { float:right; margin-top:-48px; }
    .navi_bg { border-top:none;margin-top: -10px; margin-right: -10px; }
    .soclize { width:45% !important; position:absolute; }
    .hdr { position:relative;}
    .form-group.gray_bg {
        position: absolute;
        left: 0;
        width:100%;
        margin-top:45px;
        display:none;
    }
    .form-group.gray_bg .form-control-feedback {
        right: 2%;
    }
    .top_strp { margin-top:0px; }
    .soclize .socl_icns { padding:16px; }
    .fa-stack-2x { font-size:1.65em !important }
    .slideshow_container_style-light .slideshow_description_box div.slideshow_title,
    .slideshow_container_style-light .slideshow_description_box div.slideshow_title a {
        font-size:24px !important;
        line-height:1.15em;
    }
    .slideshow_container_style-light .slideshow_description_box div.slideshow_description,
    .slideshow_container_style-light .slideshow_description_box div.slideshow_description a {
        font-size:12px;
    }
    .slideshow_container { margin-bottom:20px !important; margin-top:10px !important; }
}
@media (max-width: 400px){

	.lft_sid_mtr img, .rght_sid_mtr img { float: none; width:100%; max-width:100%; }
	.rght_sid_mtr>.hdng_mtr, .hdng_mtr a { margin-top: 0;  }
	.rght_sid_mtr .rght_sid_mtr .btn_dwnld { margin: 0 2% 5px 0}
	/* .slideshow_container { display: none !important} */

    .soclize { width:70% !important; position:absolute; }
	.form-group.gray_bg {

	}
	.fa-bars {
	  font-size:1.5em !important;
	  top:10px !important;
	}
	.navi_icn { width:12%; }
	.mobile-search-btn {
        font-size: 14px;
        right: 14%;
        padding:6px 3px;
        width: 12%;
				top: -8px;
	}
    .navi_icn { margin-top:-35px !important; margin-bottom:10px; }

	.hdr {
    margin-bottom: 36px !important;
	}
}
@media (max-width: 300px){

}


.oet-featured-card-content-wrapper {
  	left: 0px;
  	top: 0px;
  	min-width: 100%;
  	min-height: 100%;
	font-family: 'Work Sans', sans-serif;
	box-sizing: border-box;
}
.oet-featured-card {
	position: relative;
  background-size: cover !important;
  margin: 0 1% !important;
  padding: 30px !important;
  float: left;
  z-index: 1;
  width: 100%;
  max-width: 335px !important;
  height: 100%;
  min-height: 425px !important;
	max-height: 425px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-width: 0px;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
  overflow: hidden;
}
@media (max-width: 991px){
	.oet-featured-card {
		margin: 0 auto !important;
		float: none;
	}
}
.oet-featured-card::before {
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	z-index: -1;
}
.oet-featured-card-title {
	font-size: 24px;
	line-height: 28px;
	color: #ffffff !important;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: bold !important;
	margin-bottom: 22px;
	margin-top: 10px !important;
	width: 100%;
	max-height: 82px;
	height: 100%;

	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.oet-featured-card-desc {
  	font-size: 16px;
  	color: #fff;
  	font-family: 'Work Sans', sans-serif !important;
  	margin-bottom: 26px;
	width: 100%;
	word-spacing: -1px;
	min-height: 178px;
    max-height: 178px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
 	text-overflow: ellipsis;
 	display: -webkit-box !important;
 	-webkit-line-clamp:8;
 	-webkit-box-orient: vertical;
}

.oet-featured-card-btn {
	position: absolute;
	bottom: 38px;
	Background-color: #e57200;
	padding: 10px 10px;
	font-size: 19px;
	color: #fff;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: bold !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-width: 138px;
    max-width: 275px;
	display: block;
}
.oet-featured-card-btn:hover{
		color:#ffffff !important;
		text-decoration: none !important;
		opacity: .85;
}
.adminoverridewidth {
    margin-bottom: 20px !important;
}
.wp-block-image img { height: auto; }
.oet-shortcode { overflow:hidden; }
.oet-shortcode .panel-group .panel.panel-default { overflow:hidden; }
.oet-shortcode .panel-group .panel.panel-default .panel-heading { overflow:hidden; padding-bottom:0 !important; padding-bottom:5px !important; }
.oet-shortcode .panel-group .panel-heading .panel-title a {
	text-overflow: unset;
	white-space: pre-wrap;
	line-height: 1.25em;
	padding: 10px 0;
}