body { overflow-x:hidden; }
#contact-slider {
    width:500px;
    top:100px;
    position:fixed;
    right:-342px;
    z-index:9999;
}
#contact-slider-content {
    width:260px;
    height:auto;
    min-height:430px;
    position:absolute;
    right:0;
    border:1px solid #d8d8d8;
    margin-left:32px;
    padding:20px 40px;
    border-radius:3px;
    /*box-shadow:0 0 8px gray;*/
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    background:#ffffff;
}
#contact-slider-sidebar.cs-sidebar-button,
#contact-slider-sidebar1.cs-sidebar-button{
    transform: rotate(90deg);
     /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    left: 70px;
    padding:5px 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 5px;
}
#contact-slider-sidebar.cs-sidebar-button:hover,
#contact-slider-sidebar.cs-sidebar-button:focus,
#contact-slider-sidebar1.cs-sidebar-button:hover,
#contact-slider-sidebar1.cs-sidebar-button:focus{
    color:#f5f5f5;
    box-shadow:0 0 8px rgba(59, 153, 252, .8);
}
#contact-slider-sidebar.cs-sidebar-button .fa {
    transform: rotate(-90deg);
     /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#contact-slider-sidebar {
    position:absolute;
    top:125px;
    left:127px;
    box-shadow:0 0 8px gray;
    background: #294179;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor:pointer;
    padding:0;
}
#contact-slider-sidebar1 {
    position:absolute;
    top:125px;
    left:127px;
    box-shadow:0 0 8px gray;
    background: #294179;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor:pointer;
    padding:0;
}
#contact-slider-sidebar:focus,
#contact-slider-sidebar1:focus {
    outline:0;
    opacity:.9;
    border-top:2px solid #ffffff;
    border-left:2px solid #ffffff;
    border-bottom:2px solid #ffffff;
    box-shadow:0 0 12px #414244;
}
#contact-slider-content input[type=text],
#contact-slider-content input[type=email]{
    margin-top:0;
    padding:6px;
    width:100%;
    font-size:15px;
    border-radius:2px;
    border:3px solid #cccccc;
    color:#333333;
    margin-bottom:10px;
}
#contact-slider-content input[type=text]::-webkit-input-placeholder,
#contact-slider-content input[type=email]::-webkit-input-placeholder,
#contact-slider-content input[type=text]::-moz-placeholder,
#contact-slider-content input[type=email]::-moz-placeholder,
#contact-slider-content input[type=text]:-ms-input-placeholder,
#contact-slider-content input[type=email]:-ms-input-placeholder,
#contact-slider-content input[type=text]:-moz-placeholder,
#contact-slider-content input[type=email]:-moz-placeholder {
    color:#333333;
}
#contact-slider-content h4 {
    font-size:15px
}
#contact-slider-content p { margin:10px 0; }
#contact-slider-content select {
    padding:6px;
    width:100%;
    font-size:15px;
    border-radius:2px;
    border:3px solid #ccc
}
#contact-slider-content textarea {
    padding:6px;
    font-size:15px;
    border-radius:2px;
    border:3px solid #ccc;
    margin-top:0;
    height:80px;
    width:100%;
    color:#333333;
    margin-bottom:10px;
}
#contact-slider-content textarea::-webkit-input-placeholder,
#contact-slider-content textarea::-moz-placeholder,
#contact-slider-content textarea:-ms-input-placeholder,
#contact-slider-content textarea:-moz-placeholder{
    color:#333333;
}
#contact-slider-content button,
#contact-slider-content input[type=submit]{
    background:#294179;
    border:none;
    color:#fff;
    width:100%;
    font-size:22px;
    font-weight:bolder;
    padding:8px 0;
    border-radius:3px;
    cursor:pointer;
    margin-top:0px;
}
.contact-slider-close {
    background: url('images/close_form.png') center center no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
}
#contact-slider-content span.wpcf7-not-valid-tip { font-size:14px; font-weight:bold; color:#eb0000; }
#cf-form #contact-form-body .wpcf7-form-control-wrap #cCaptcha { transform: scale(0.86); -webkit-transform: scale(0.86); transform-origin: 0 0; -webkit-transform-origin: 0 0; }
#contact-slider-content button.contact-slider-close { background: transparent url(images/close_form.png) center center no-repeat; width:20px; height:20px; }
@media (max-width: 1200px){
    #contact-slider {  }
}
@media (max-width: 990px){

}
@media (max-width: 768px){

}
@media (max-width: 750px){

}
@media (max-width: 715px){

}
@media (max-width: 600px){

}
@media (max-width: 525px){
    #contact-slider-content {
        padding:10px 20px;
    }
    #contact-slider-content h2 { font-size:18px; }
    #contact-slider-content p { font-size:12px; margin:5px 0; }
    #contact-slider-content input[type=text],
    #contact-slider-content input[type=email]{
        padding:5px;
        font-size:12px;
        border:2px solid #98d0f1
    }
    #contact-slider-content button,
    #contact-slider-content input[type=submit]{
        margin-top:5px;
        font-size:16px;
        padding:5px;
    }
    #cf-form #contact-form-body .wpcf7-form-control-wrap #cCaptcha { transform: scale(0.885); -webkit-transform: scale(0.885); transform-origin: 0 0; -webkit-transform-origin: 0 0; }
}
@media (max-width: 400px){

}
@media (max-width: 300px){

}
