#oet-table
{
    width: 100%;
    overflow:hidden;
}
.oet_sngltinyrow
{
	width: 100%;
	float: left;
	height: 100px;
	padding: 5px 0;
}
.oet_sngltinyclm
{
	/*text-align: center;
	cursor: pointer;
	border: medium none;*/
	cursor: pointer;
    float: left;
    height: 85px;
    padding: 10px;
    text-align: center;
    width: 140px;
	border-radius: 5px;
	margin-left: 10px;
}
.oet_sngltinyclm .oert_snglimgtiny
{
	width: 100%;
	float: left;
	margin:0 ;
	padding: 0;
	text-align: center;
}
.oet_sngltinyclm .oert_snglimgtiny img
{
	width: 75px;
	float: none;
	margin: 0 auto;
}
.oet_sngltinyclm .oert_snglttltiny
{
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	float: left;
}
.oet_sngltinyclm:hover
{
	border: 2px solid #ccc;
	height: 96px;
	width: 136px;
}
.oet_sngltinyclm.oet_snglslctd
{
    border: 2px solid #ccc;
	height: 96px;
	width: 136px;
}
.oet_bs_row {
    height: 28px;
    width: 100%;
    background: #808080;
    border: none;
    margin-top: 20px;
}
.oet_bs_column {
    height:58px;
    width:35px;
    background:#808080;
    border:2px solid #979797;
    margin:0 auto;
}
.oet_bs_col {
    height: 40px;
    width: 31.7%;
    background: #808080;
    border: 1px solid #979797;
    margin: 0 auto;
    display: inline-block;
}
#oet-shortcode-form .submit {
    margin:10px 0;
    text-align:center;
}
#TB_ajaxContent { overflow:hidden; }