/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.oet-blk-accordion {
  border: 1px solid #dddddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom:10px;
    
}
.oet-blk-accordion-header {
    background-color: transparent !important;
}
.oet-blk-accordion-header a.oet-blk-accordion-button {
  display: block;
  position: relative;
  width: 100%;
  text-align: left !important;
  text-decoration: none;
  /**--min-height: 48px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;--**/
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 60px;
  /**--line-height: 42px;--**/
  color: #294179 !important;
  background-color: transparent !important;
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom : none !important;
  /*border-bottom: 1px solid #d4d4d4 !important;*/
  border-radius: 0 !important;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 16px !important;
  outline: unset;
  text-overflow: unset;
  white-space: pre-wrap;
  line-height: 1.25em;
}
.oet-blk-accordion-header a.oet-blk-accordion-button:focus{
  box-shadow: unset !important;
}
.oet-blk-accordion-header a.oet-blk-accordion-button:focus-visible{
  text-decoration: underline;
  box-shadow: 0px 0px 0px 3px rgba(0,123,255,0.50) !important;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(0,123,255,0.50) !important;
  -moz-box-shadow: 0px 0px 0px 3px rgba(0,123,255,0.50) !important;
}

.oet-blk-accordion .oet-blk-accordion-content:focus{
  box-shadow: unset !important;
}
.oet-blk-accordion .oet-blk-accordion-content:focus-visible{
  box-shadow: 0px 0px 0px 3px rgba(0,123,255,0.50) !important;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(0,123,255,0.50) !important;
  -moz-box-shadow: 0px 0px 0px 3px rgba(0,123,255,0.50) !important;
}

.oet-blk-accordion-header a.oet-blk-accordion-button.collapsed{
  border-bottom: 0px !important;
  text-overflow: unset;
  white-space: pre-wrap;
  line-height: 1.25em;
}

.oet-blk-accordion-header a.oet-blk-accordion-button:hover {
  text-decoration:underline;
}
.oet-blk-accordion-header {
  padding: 0px !important;
}
.oet-blk-accordion-title{
  margin:0px auto !important;
}
.oet-blk-accordion-content {
    border-top: 1px solid #d4d4d4;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    overflow:hidden;
}
.oet-blk-accordion-content .card-body {
    padding: 20px;
}
.oet-blk-accordion-content p {
    margin-top: 0px !important;
    line-height: 23px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
}


.oet-blk-accordion-header .oet-blk-accordion-button:after {
    content: "\f068";
    font-family: 'FontAwesome';
    color: #fff;
    font-size: 16px;
    display: inline-block !important;
    vertical-align: middle !important;
    position: absolute !important;
    right: 25px !important;
    color: #626262 !important;
    font-weight: 400 !important;
    top: 10px;
}

.oet-blk-accordion-header .oet-blk-accordion-button.collapsed:after {
    content: "\f067";
    top: 10px;
}

.oet-blk-accordion-button input::placeholder {color: #8c8f94 !important;}
.oet-blk-accordion-button:-ms-input-placeholder {color: #8c8f94 !important;}
.oet-blk-accordion-button::-ms-input-placeholder {color: #8c8f94 !important;}

.oet-blk-accordion-header a.oet-blk-accordion-button input {padding:0px !important;}
.oet-blk-accordion ul { padding-left:20px !important; }