/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-oet-accordion-block  {
  background: $green;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 0;
}

.wp-block-cgb-oet-accordion-block .oet-blk-accordion-header textarea {
    width: 100%;
    border: 0px !important;
}
.wp-block-cgb-oet-accordion-block .oet-blk-accordion-header a.oet-blk-accordion-button input {
  width: 100%;
  border: none !important;
  background: none;
  color: #294179 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-family: 'Work Sans', sans-serif !important;
  font-weight: bold !important;
  box-shadow: 0 0 0 0 #fff !important;
  font-size: 16px;
}


.wp-block-cgb-oet-accordion-block .block-editor-block-list__layout p {
    margin-top: 0px !important;
    line-height: 23px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px !important;
}

.wp-block-cgb-oet-accordion-block .oet-blk-accordion-title .oet-blk-accordion-button a{
  font-size: 16px !important;
}
.block-editor-block-list__block[data-type='cgb/oet-accordion-block'] {
  margin-top: 0;
  margin-bottom: 0;
}