/* Slider Content*/
#oet-acf-slider ul {padding-left: 0;}
#oet-acf-slider li {list-style: none;}

#oet-acf-slider * {
	box-sizing: border-box;
	margin: 0;
}

#oet-acf-slider {
	width: 100%;
  height: 380px;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid #ffffff; */
  display: table;
  padding: 0px;
}

#oet-acf-slider.focused {
	/*border:2px solid #333333 !important;*/
}

.oet-acf-slider-content-wrapper {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}


#oet-acf-slider .oet-acf-slider-wrapper {
    position: absolute;
    overflow: hidden;
    float: left;
		/* width: 100%; */
    /* height: 100%; */
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.oet-acf-slider-preloader-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    display: block;
    vertical-align: middle;
    min-width: 100% !important;
    min-height: 100%;
    z-index: 4;
    background-color: #f5f5f5;
}



/* Slider button */
#oet-acf-slider .slider-button {
    font-size: 18px;
		line-height:40px;
		text-align:center;
    color: white;
    opacity: 0.6;
    display: block;
    background: transparent;
    cursor: pointer;
    margin: 0px auto;
    
    width:42px;
    height:42px;
    border: 1px solid #294179;
    background-color: #294179;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
		padding:0px;
}

#oet-acf-slider .slider-button:focus {outline: 2px solid #333;}
#oet-acf-slider .slider-button:hover {opacity: 1;}


/* Slider navigation */

#oet-acf-slider button.oet-slider-sidenavs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}
#oet-acf-slider button.oet-slider-sidenavs.right{right:-22px;}
#oet-acf-slider button.oet-slider-sidenavs.left{left:-22px;}

#oet-acf-slider .arrows li {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#oet-acf-slider .arrows li:focus{outline: none;}

#oet-acf-slider .arrows li:first-child {right: -22px;}

#oet-acf-slider .arrows li:last-child {left: -22px;}

#oet-acf-slider ul.bullet-list {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 1.6em;
	z-index: 3;
}

#oet-acf-slider .bullet-list li {display: inline-block;}

#oet-acf-slider .arrows li, 
#oet-acf-slider .bullet-list li, 
#oet-acf-slider .oet_acf_slide {
	list-style: none;
}

#oet-acf-slider .bullet {
	width: 19px;
	height: 19px;
	margin: 0 .15em;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #ffffff;
  border: 1px solid #2a4378;
}

/*#oet-acf-slider .bullet:focus {outline: 2px solid #333;}*/
#oet-acf-slider .bullet.active { opacity: 1; }

/* Slides */

#oet-acf-slider .slider-list {
	width: 100%;
	height: 100%;
	padding-left: 0;
	background: #ffffff;
	opacity: 1;
}

#oet-acf-slider .oet_acf_slide {
  position: absolute;
    left: 0px;
    top: 0px;
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
	opacity: 1;
  background-color: #fff;
}
#oet-acf-slider .oet_acf_slide.active, 
#oet-acf-slider .oet_acf_slide.hiding{z-index:1;}

#oet-acf-slider .oet_acf_slide_content {
	display: table-cell;
  position: absolute;
  height:100%;
	right: 0px;
	left: 0px;
  overflow: hidden;
	/*vertical-align: middle;*/
}

#oet-acf-slider .oet_acf_slide_content a {
    display: block;
    height: 100%;
    /*position: relative;*/
    z-index: 2;
		float: left;
		text-decoration: none;
}

#oet-acf-slider .oet-slide-button:hover {
    background: #e98827;
		color:#ffffff;
}

#oet-acf-slider .oet-slide-button:focus {
		color:#ffffff;
}
#oet-acf-slider .slider-button:focus,
#oet-acf-slider .slider-button:hover{ 
  background: #ffffff;
  border: 1px solid #2a4378;
  opacity: 1;
  outline: 2px solid #ffffff;
}
/*
#oet-acf-slider .oet_acf_slide_title {
	color: white;
	font-size: 5em;
	font-weight: 400;
	text-transform: lowercase;
}
*/

@media screen and (max-width: 768px) {
	#oet-acf-slider .oet_acf_slide_title { font-size: 3.5em; }

  #oet-acf-slider .oet_acf_slide_content img {width: 100% !important;}
  #oet-acf-slider .oet_acf_slide_content {width:100% !important;overflow:hidden !important;}
  #oet-acf-slider li.oet_acf_slide h3 {font-size: 16px !important; line-height: 22px !important;}
}

@media screen and (max-width: 550px) {
  #oet-acf-slider button.oet-slider-sidenavs {display:none !important;}
}

@media screen and (max-width: 460px) {
  #oet-acf-slider {height: 200px;}
}

@media screen and (max-width: 320px) {
	#oet-acf-slider .oet_acf_slide_title { font-size: 2em; }
}

#oet-acf-slider li.oet_acf_slide h3 {
    position: absolute;
    display: block;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.8);
    
    font-size: 22px;
    color: #f5f5f5 !important;
    padding: 15px 12px !important;
    line-height: 37px;
    font-family: 'Merriweather',serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 600;
    text-transform: unset !important;
}



/* SLIDER CSS TRANSITIONS */
/* SLIDE */
@-webkit-keyframes slideInLeft {
from {
-webkit-transform: translate3d(-100%, 0, 0);
transform: translate3d(-100%, 0, 0);
visibility: visible;
}

to {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}

@keyframes slideInLeft {
from {
-webkit-transform: translate3d(-100%, 0, 0);
transform: translate3d(-100%, 0, 0);
visibility: visible;
}

to {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}

.slideInLeft {
-webkit-animation-name: slideInLeft;
animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
from {
-webkit-transform: translate3d(100%, 0, 0);
transform: translate3d(100%, 0, 0);
visibility: visible;
}

to {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}

@keyframes slideInRight {
from {
-webkit-transform: translate3d(100%, 0, 0);
transform: translate3d(100%, 0, 0);
visibility: visible;
}

to {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}

.slideInRight {
-webkit-animation-name: slideInRight;
animation-name: slideInRight;
}


@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}


/* BOUNCE */
@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {desc
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0) scaleX(3);
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0) scaleX(1);
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0) scaleX(0.98);
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0) scaleX(0.995);
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0) scaleX(3);
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0) scaleX(1);
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0) scaleX(0.98);
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0) scaleX(0.995);
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0) scaleX(0.9);
    transform: translate3d(20px, 0, 0) scaleX(0.9);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0) scaleX(2);
    transform: translate3d(-2000px, 0, 0) scaleX(2);
  }
}
@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0) scaleX(0.9);
    transform: translate3d(20px, 0, 0) scaleX(0.9);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0) scaleX(2);
    transform: translate3d(-2000px, 0, 0) scaleX(2);
  }
}
.bounceOutLeft {
  -webkit-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft;
}

@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0) scaleX(0.9);
    transform: translate3d(-20px, 0, 0) scaleX(0.9);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0) scaleX(2);
    transform: translate3d(2000px, 0, 0) scaleX(2);
  }
}
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0) scaleX(0.9);
    transform: translate3d(-20px, 0, 0) scaleX(0.9);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0) scaleX(2);
    transform: translate3d(2000px, 0, 0) scaleX(2);
  }
}
.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}


/* FADE */

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}


@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}


form#searchform.focused {border: 2px solid #333333 !important;}
.oet-acf-slider-accessibility-liveregion {height:0px !important; overflow:hidden !important;}
/*
.oet-acf-slider-wrapper:focus {
    outline: 2px solid #333333 !important;
}
*/

#oet-acf-slider .oet_acf_slide_caption_wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    padding: 50px;
    background: linear-gradient(180deg, rgba(41, 65, 121, 0.65) 0%, #FFFFFF 100%);
}

#oet-acf-slider .oet_acf_slide_caption_block {
		width: 50%;
		background: #2A4378 ;
		padding: 30px;
		height: 100%;
		position: relative;
		top: auto;
		left: auto;
}

#oet-acf-slider .oet_acf_slide_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 0;
    text-align: left;
    padding: 0 0 10px;
}

#oet-acf-slider .oet_acf_slide_desc {
    text-align: left;
    padding: 5px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    position: relative;
		width:100%;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

#oet-acf-slider .oet-slide-button-row {
    float: left;
    width: 100%;
    padding: 5px 0px;
}

#oet-acf-slider .oet-acf-nav-wrapper {
	position: absolute;
	bottom: 35px;
	left: 0px;
	width: 55%;
	z-index: 3;
}


/* PRELOADER */
.oetslider-ring {
  display: inline-block;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 43%;
	left:46%;
  /*transform: translateX(-43%);*/
}

.oetslider-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 8px;
  border: 4px solid #294179;
  border-radius: 50%;
  animation: oetslider-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #294179 transparent transparent transparent;
}
.oetslider-ring div:nth-child(1) {animation-delay: -0.45s;}
.oetslider-ring div:nth-child(2) {animation-delay: -0.3s;}
.oetslider-ring div:nth-child(3) {animation-delay: -0.15s;}
@keyframes oetslider-ring {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


@media screen and (max-width: 1199px) {
	#oet-acf-slider .oet_acf_slide_title {
			white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	}
}

@media screen and (max-width: 991px) {
	.oetslider-ring {left:43%;}
	#oet-acf-slider {height: 260px;}
	#oet-acf-slider .oet_acf_slide_caption_block {width:100%;padding: 20px;}
	#oet-acf-slider .oet_acf_slide_caption_wrapper{padding:25px;}
	#oet-acf-slider .oet-acf-nav-wrapper {width:100%;}

	#oet-acf-slider .oet_acf_slide_title {font-size: 20px;padding: 0px;}
	#oet-acf-slider .oet_acf_slide_desc {font-size: 14px;padding: 0;line-height: 20px}
	#oet-acf-slider .oet-acf-nav-wrapper{ bottom:5px;}
	#oet-acf-slider .oet_acf_slide_content a {padding: 8px 12px;}
	#oet-acf-slider .bullet {width: 22px;height: 22px;}
}

@media screen and (max-width: 767px) {
	.oetslider-ring {left:45% !important;}
	#oet-acf-slider .oet_acf_slide_desc { -webkit-line-clamp: 3 !important;}
	#oet-acf-slider .oet-slide-button-row {margin: 10px 0 15px !important;}
}

@media screen and (max-width: 600px) {
	#oet-acf-slider .oet_acf_slide_caption_wrapper{padding:20px;}
}

@media screen and (max-width: 550px) {
	.oetslider-ring {left:42% !important;}
}
